# Fault Data

In [2]:
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\sankalp\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [9]:
paths = ["Aug 01-04-Fault Browser","Aug 05-09-Fault Browser","Aug 10-14-Fault Browser","Aug 15-19-Fault Browser","Aug 20-24-Fault Browser","Aug 25-31-Fault Browser"]

In [10]:
# path = "C:\\Users\\sankalp\\Desktop\\IDDDP\\Aug_to_Oct\\ESQ Fault Data\\August 2020\\Aug 01-04-Fault Browser.xlsx"
path = "C:\\Users\\sankalp\\Desktop\\IDDDP\\Aug_to_Oct\\ESQ Fault Data\\August 2020\\{}.xlsx"
df = pd.DataFrame()
for i in paths:
    error_data_aug = pd.read_excel(path.format(i), skiprows=[0,1,2,3,4])
    error_data_aug.drop(['Unnamed: 3',"Unnamed: 5",'Unnamed: 7'], axis = 1,inplace = True) 
    df = pd.concat([df,error_data_aug],ignore_index=True)
df

,Terminal ID,MS VENDOR,Operation Hours,Fault,Started at,Ended at,Duration (minutes)
0,1RDNMIR03,AGS,00:00 hrs to 23:59 hrs,type 2 currency cassette low (NCR),8/4/2020 11:59:01 PM,8/5/2020 8:07:32 AM,488
1,1RDDPVL01,AGS,06:00 hrs to 22:00 hrs,down - communication failure (DIEBOLD 10xx),8/4/2020 11:58:45 PM,8/5/2020 12:09:09 AM,11
2,1RDDMUM19,AGS,00:00 hrs to 23:59 hrs,close (DIEBOLD 10xx),8/4/2020 11:58:42 PM,8/5/2020 12:09:03 AM,11
3,1RDDMUM19,AGS,00:00 hrs to 23:59 hrs,Close No Other Fault (DIEBOLD),8/4/2020 11:58:42 PM,8/5/2020 12:09:03 AM,11
4,1FNRBL33,AGS,09:00 hrs to 18:00 hrs,down - communication failure (NCR),8/4/2020 11:58:03 PM,8/5/2020 10:07:59 AM,609
...,...,...,...,...,...,...,...
59989,1FDGGN15,AGS,06:00 hrs to 22:00 hrs,down - communication failure (DIEBOLD 10xx),8/31/2020 12:07:53 PM,8/31/2020 12:15:57 PM,8
59990,1FDDUN28,AGS,06:00 hrs to 22:00 hrs,close (DIEBOLD 10xx),8/31/2020 12:07:49 PM,9/1/2020 11:26:00 AM,1399
59991,1FDDUN28,AGS,06:00 hrs to 22:00 hrs,Close No Other Fault (DIEBOLD),8/31/2020 12:07:49 PM,8/31/2020 12:32:14 PM,25
59992,1FDBRR07,AGS,06:00 hrs to 22:00 hrs,down - communication failure (DIEBOLD 10xx),8/31/2020 12:07:38 PM,8/31/2020 12:15:42 PM,8
59993,1FDBBM02,AGS,06:00 hrs to 22:00 hrs,Cashout (DIEBOLD),8/31/2020 12:07:19 PM,9/2/2020 1:39:18 PM,2972

In [15]:
paths1 = ["Fault Browser_1","Fault Browser_2","Fault Browser_3","Fault Browser_4","Fault Browser_5","Fault Browser_6"]
path1 = "C:\\Users\\sankalp\\Desktop\\IDDDP\\Aug_to_Oct\\ESQ Fault Data\\Sept 2020\\{}.xlsx"
df1 = pd.DataFrame()
for i in paths1:
    error_data_sept = pd.read_excel(path1.format(i), skiprows=[0,1,2,3,4])
    error_data_sept.drop(['Unnamed: 3',"Unnamed: 5",'Unnamed: 7'], axis = 1,inplace = True) 
    df1 = pd.concat([df1,error_data_sept],ignore_index=True)
df1

,Terminal ID,MS VENDOR,Operation Hours,Fault,Started at,Ended at,Duration (minutes)
0,1FDBOM414,AGS,09:00 hrs to 18:00 hrs,close (DIEBOLD 10xx),9/4/2020 11:59:42 PM,9/5/2020 12:10:08 AM,11
1,1FDBOM414,AGS,09:00 hrs to 18:00 hrs,Close No Other Fault (DIEBOLD),9/4/2020 11:59:42 PM,9/5/2020 12:10:08 AM,11
2,1FDBOM291,AGS,00:00 hrs to 23:59 hrs,down - communication failure (DIEBOLD 10xx),9/4/2020 11:59:37 PM,9/5/2020 12:20:48 AM,21
3,1FDAHM176,AGS,06:00 hrs to 22:00 hrs,cassette 3 out of cash (DIEBOLD 10xx),9/4/2020 11:59:08 PM,9/5/2020 12:39:21 PM,760
4,1CRUPLK08,AGS,07:00 hrs to 22:00 hrs,type 4 currency cassette out (NCR),9/4/2020 11:58:37 PM,9/5/2020 8:59:07 AM,541
...,...,...,...,...,...,...,...
339273,1FDFZB41,AGS,06:00 hrs to 22:00 hrs,down - communication failure (DIEBOLD 10xx),9/25/2020 12:03:23 AM,9/25/2020 12:47:17 AM,44
339274,1FDCAC04,AGS,06:00 hrs to 22:00 hrs,down - communication failure (DIEBOLD 10xx),9/25/2020 12:02:13 AM,9/25/2020 12:46:06 AM,44
339275,1FDBRM12,AGS,10:00 hrs to 18:00 hrs,down - communication failure (DIEBOLD 10xx),9/25/2020 12:02:06 AM,9/25/2020 1:05:27 PM,783
339276,1FDBOM229,AGS,06:00 hrs to 22:00 hrs,down - communication failure (DIEBOLD 10xx),9/25/2020 12:01:31 AM,9/25/2020 2:59:13 AM,178
339277,1FDBOM106,AGS,06:00 hrs to 22:00 hrs,down - communication failure (DIEBOLD 10xx),9/25/2020 12:01:14 AM,9/25/2020 1:29:56 AM,88

In [16]:
df = pd.concat([df,df1],ignore_index=True) 
df

,Terminal ID,MS VENDOR,Operation Hours,Fault,Started at,Ended at,Duration (minutes)
0,1RDNMIR03,AGS,00:00 hrs to 23:59 hrs,type 2 currency cassette low (NCR),8/4/2020 11:59:01 PM,8/5/2020 8:07:32 AM,488
1,1RDDPVL01,AGS,06:00 hrs to 22:00 hrs,down - communication failure (DIEBOLD 10xx),8/4/2020 11:58:45 PM,8/5/2020 12:09:09 AM,11
2,1RDDMUM19,AGS,00:00 hrs to 23:59 hrs,close (DIEBOLD 10xx),8/4/2020 11:58:42 PM,8/5/2020 12:09:03 AM,11
3,1RDDMUM19,AGS,00:00 hrs to 23:59 hrs,Close No Other Fault (DIEBOLD),8/4/2020 11:58:42 PM,8/5/2020 12:09:03 AM,11
4,1FNRBL33,AGS,09:00 hrs to 18:00 hrs,down - communication failure (NCR),8/4/2020 11:58:03 PM,8/5/2020 10:07:59 AM,609
...,...,...,...,...,...,...,...
399267,1FDFZB41,AGS,06:00 hrs to 22:00 hrs,down - communication failure (DIEBOLD 10xx),9/25/2020 12:03:23 AM,9/25/2020 12:47:17 AM,44
399268,1FDCAC04,AGS,06:00 hrs to 22:00 hrs,down - communication failure (DIEBOLD 10xx),9/25/2020 12:02:13 AM,9/25/2020 12:46:06 AM,44
399269,1FDBRM12,AGS,10:00 hrs to 18:00 hrs,down - communication failure (DIEBOLD 10xx),9/25/2020 12:02:06 AM,9/25/2020 1:05:27 PM,783
399270,1FDBOM229,AGS,06:00 hrs to 22:00 hrs,down - communication failure (DIEBOLD 10xx),9/25/2020 12:01:31 AM,9/25/2020 2:59:13 AM,178
399271,1FDBOM106,AGS,06:00 hrs to 22:00 hrs,down - communication failure (DIEBOLD 10xx),9/25/2020 12:01:14 AM,9/25/2020 1:29:56 AM,88

In [17]:
df.shape

(399272, 7)

In [18]:
paths2 = ["Oct 01-04-Fault Browser","Oct 05-09-Fault Browser","Oct 10-15-Fault Browser","Oct 15-20-Fault Browser","Oct 20-25-Fault Browser","Oct 25-31-Fault Browser"]
path2 = "C:\\Users\\sankalp\\Desktop\\IDDDP\\Aug_to_Oct\\ESQ Fault Data\\Oct 2020\\{}.xlsx"
df2 = pd.DataFrame()
for i in paths2:
    error_data_oct = pd.read_excel(path2.format(i), skiprows=[0,1,2,3,4])
    error_data_oct.drop(['Unnamed: 3',"Unnamed: 5",'Unnamed: 7'], axis = 1,inplace = True) 
    df2 = pd.concat([df2,error_data_oct],ignore_index=True)
df2

,Terminal ID,MS VENDOR,Operation Hours,Fault,Started at,Ended at,Duration (minutes)
0,1FNGDH05,AGS,06:00 hrs to 22:00 hrs,down - communication failure (NCR),10/4/2020 11:59:58 PM,10/5/2020 1:38:59 AM,99
1,1FNGDH04,AGS,06:00 hrs to 22:00 hrs,down - communication failure (NCR),10/4/2020 11:59:58 PM,10/5/2020 1:38:59 AM,99
2,1FNGDH01,AGS,00:00 hrs to 23:59 hrs,down - communication failure (NCR),10/4/2020 11:59:58 PM,10/5/2020 1:38:59 AM,99
3,1FNGDH02,AGS,00:00 hrs to 23:59 hrs,down - communication failure (NCR),10/4/2020 11:59:58 PM,10/5/2020 1:38:59 AM,99
4,1FNGAN01,AGS,09:00 hrs to 18:00 hrs,down - communication failure (NCR),10/4/2020 11:59:58 PM,10/5/2020 1:38:59 AM,99
...,...,...,...,...,...,...,...
88602,1FNBAL02,AGS,06:00 hrs to 22:00 hrs,SUSPECTED SKIMMING ATTACK DETECTED (NCR),10/31/2020 12:29:45 PM,10/31/2020 6:31:46 PM,362
88603,1FNARV04,AGS,06:00 hrs to 22:00 hrs,down - communication failure (NCR),10/31/2020 12:29:44 PM,11/2/2020 1:45:43 PM,2956
88604,1FNAMT23,AGS,07:00 hrs to 19:00 hrs,magnetic card read write warning (NCR),10/31/2020 12:29:42 PM,10/31/2020 2:23:01 PM,114
88605,1FNAMT19,AGS,07:00 hrs to 19:00 hrs,Anycassette Faulted (NCR),10/31/2020 12:29:41 PM,11/2/2020 9:36:45 AM,2707
88606,1FNAMT19,AGS,07:00 hrs to 19:00 hrs,cassette 3 fatal (NCR),10/31/2020 12:29:41 PM,11/2/2020 9:36:45 AM,2707

In [ ]:
df = pd.concat([df,df2],ignore_index=True) 
df

In [49]:
paths3 = ["Fault Browser_1","Fault Browser_2","Fault Browser_3","Fault Browser_4","Fault Browser_5","Fault Browser_6"]
path3 = "C:\\Users\\sankalp\\Desktop\\IDDDP\\November_data\\AGS fault data ESQ Nov 2020\\{}.xlsx"
df3 = pd.DataFrame()
for i in paths1:
    error_data_nov = pd.read_excel(path3.format(i), skiprows=[0,1,2,3,4])
    error_data_nov.drop(['Unnamed: 3',"Unnamed: 5",'Unnamed: 7'], axis = 1,inplace = True) 
    df3 = pd.concat([df3,error_data_nov],ignore_index=True)
df3

,Terminal ID,MS VENDOR,Operation Hours,Fault,Started at,Ended at,Duration (minutes)
0,1FDBOM192,AGS,06:00 hrs to 22:00 hrs,close (DIEBOLD 10xx),11/4/2020 11:57:34 PM,11/5/2020 12:07:47 AM,10
1,1FDBOM192,AGS,06:00 hrs to 22:00 hrs,Close No Other Fault (DIEBOLD),11/4/2020 11:57:34 PM,11/5/2020 12:07:47 AM,10
2,1FDBOM192,AGS,06:00 hrs to 22:00 hrs,receipt printer faulted (DIEBOLD 10xx),11/4/2020 11:57:34 PM,11/5/2020 12:07:47 AM,10
3,1CRRJAJ02,AGS,09:00 hrs to 18:00 hrs,down - communication failure (NCR),11/4/2020 11:56:38 PM,11/5/2020 11:06:39 AM,670
4,1CRMHMU28,AGS,00:00 hrs to 23:59 hrs,type 2 currency cassette out (NCR),11/4/2020 11:56:30 PM,11/5/2020 10:18:44 AM,622
...,...,...,...,...,...,...,...
408752,1RDDPUN29,AGS,00:00 hrs to 23:59 hrs,Close No Other Fault (DIEBOLD),11/26/2020 12:00:19 AM,11/26/2020 12:32:40 AM,32
408753,1RDDPUN29,AGS,00:00 hrs to 23:59 hrs,close (DIEBOLD 10xx),11/26/2020 12:00:19 AM,11/26/2020 12:32:40 AM,32
408754,1RDDLUC02,AGS,07:00 hrs to 22:00 hrs,down - communication failure (DIEBOLD 10xx),11/26/2020 12:00:10 AM,11/26/2020 9:32:00 AM,572
408755,1RDDJAI21,AGS,07:00 hrs to 23:00 hrs,Close No Other Fault (DIEBOLD),11/26/2020 12:00:07 AM,11/26/2020 12:10:57 AM,10
408756,1RDDJAI21,AGS,07:00 hrs to 23:00 hrs,Cashout No Other Fault (DIEBOLD),11/26/2020 12:00:07 AM,11/26/2020 12:10:57 AM,10

In [50]:
df = pd.concat([df,df3],ignore_index=True) 
df

,Terminal ID,MS VENDOR,Operation Hours,Fault,Started at,Ended at,Duration (minutes)
0,1RDNMIR03,AGS,00:00 hrs to 23:59 hrs,type 2 currency cassette low (NCR),8/4/2020 11:59:01 PM,8/5/2020 8:07:32 AM,488
1,1RDDPVL01,AGS,06:00 hrs to 22:00 hrs,down - communication failure (DIEBOLD 10xx),8/4/2020 11:58:45 PM,8/5/2020 12:09:09 AM,11
2,1RDDMUM19,AGS,00:00 hrs to 23:59 hrs,close (DIEBOLD 10xx),8/4/2020 11:58:42 PM,8/5/2020 12:09:03 AM,11
3,1RDDMUM19,AGS,00:00 hrs to 23:59 hrs,Close No Other Fault (DIEBOLD),8/4/2020 11:58:42 PM,8/5/2020 12:09:03 AM,11
4,1FNRBL33,AGS,09:00 hrs to 18:00 hrs,down - communication failure (NCR),8/4/2020 11:58:03 PM,8/5/2020 10:07:59 AM,609
...,...,...,...,...,...,...,...
896631,1RDDPUN29,AGS,00:00 hrs to 23:59 hrs,Close No Other Fault (DIEBOLD),11/26/2020 12:00:19 AM,11/26/2020 12:32:40 AM,32
896632,1RDDPUN29,AGS,00:00 hrs to 23:59 hrs,close (DIEBOLD 10xx),11/26/2020 12:00:19 AM,11/26/2020 12:32:40 AM,32
896633,1RDDLUC02,AGS,07:00 hrs to 22:00 hrs,down - communication failure (DIEBOLD 10xx),11/26/2020 12:00:10 AM,11/26/2020 9:32:00 AM,572
896634,1RDDJAI21,AGS,07:00 hrs to 23:00 hrs,Close No Other Fault (DIEBOLD),11/26/2020 12:00:07 AM,11/26/2020 12:10:57 AM,10
896635,1RDDJAI21,AGS,07:00 hrs to 23:00 hrs,Cashout No Other Fault (DIEBOLD),11/26/2020 12:00:07 AM,11/26/2020 12:10:57 AM,10

In [52]:
paths4 = ["01-05 DEC 2020.","06-10 DEC 2020.","11-15 DEC 2020.","16-20 DEC 2020.","21-25 DEC 2020.","25-31 DEC 2020."]
path4 = "C:\\Users\\sankalp\\Desktop\\IDDDP\\December_data\\AGS Fault Data ESQ 2020\\{}.xlsx"
df4 = pd.DataFrame()
for i in paths4:
    error_data_dec = pd.read_excel(path4.format(i), skiprows=[0,1,2,3,4])
    error_data_dec.drop(['Unnamed: 3',"Unnamed: 5",'Unnamed: 7'], axis = 1,inplace = True) 
    df4 = pd.concat([df4,error_data_dec],ignore_index=True)
df = pd.concat([df,df4],ignore_index=True) 
df

C:\Users\sankalp\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:214: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Terminal ID,MS VENDOR,Operation Hours,Fault,Started at,Ended at,Duration (minutes)
0,1RDNMIR03,AGS,00:00 hrs to 23:59 hrs,type 2 currency cassette low (NCR),8/4/2020 11:59:01 PM,8/5/2020 8:07:32 AM,488
1,1RDDPVL01,AGS,06:00 hrs to 22:00 hrs,down - communication failure (DIEBOLD 10xx),8/4/2020 11:58:45 PM,8/5/2020 12:09:09 AM,11
2,1RDDMUM19,AGS,00:00 hrs to 23:59 hrs,close (DIEBOLD 10xx),8/4/2020 11:58:42 PM,8/5/2020 12:09:03 AM,11
3,1RDDMUM19,AGS,00:00 hrs to 23:59 hrs,Close No Other Fault (DIEBOLD),8/4/2020 11:58:42 PM,8/5/2020 12:09:03 AM,11
4,1FNRBL33,AGS,09:00 hrs to 18:00 hrs,down - communication failure (NCR),8/4/2020 11:58:03 PM,8/5/2020 10:07:59 AM,609
...,...,...,...,...,...,...,...
1419952,1RDWBOM48,AGS,00:00 hrs to 23:59 hrs,down - communication failure (NCR),12/26/2020 12:07:04 AM,12/26/2020 12:28:44 AM,21
1419953,1RDDLUC01,AGS,00:00 hrs to 23:59 hrs,All Cassette Faulted (DIEBOLD),12/26/2020 12:06:25 AM,12/26/2020 11:28:18 AM,682
1419954,1RDDLUC01,AGS,00:00 hrs to 23:59 hrs,cassette 1 faulted (DIEBOLD 10xx),12/26/2020 12:06:25 AM,12/26/2020 11:28:18 AM,682
1419955,1FNKCC08,AGS,09:00 hrs to 18:00 hrs,down - communication failure (NCR),12/26/2020 12:04:56 AM,12/26/2020 12:15:39 AM,11
1419956,1CRUPAB02,AGS,07:00 hrs to 23:00 hrs,down - communication failure (NCR),12/26/2020 12:00:46 AM,12/26/2020 12:11:16 AM,11

In [53]:
paths5 = ["1st Jan to 5th Jan 2021","6th Jan to 10th Jan 2021","11 jan to 15 jan 21","16 jan -20 jan 21","21 jan to 25 jan 21","26 jan- 31 jan 21"]
path5 = "C:\\Users\\sankalp\\Desktop\\IDDDP\\January_data\\Fault Data ESQ  Jan 21\\{}.xlsx"
df5 = pd.DataFrame()
for i in paths5:
    error_data_jan = pd.read_excel(path5.format(i), skiprows=[0,1,2,3,4])
    error_data_jan.drop(['Unnamed: 3',"Unnamed: 5",'Unnamed: 7'], axis = 1,inplace = True) 
    df5 = pd.concat([df5,error_data_jan],ignore_index=True)
df = pd.concat([df,df5],ignore_index=True) 
df

C:\Users\sankalp\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:214: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Terminal ID,MS VENDOR,Operation Hours,Fault,Started at,Ended at,Duration (minutes)
0,1RDNMIR03,AGS,00:00 hrs to 23:59 hrs,type 2 currency cassette low (NCR),8/4/2020 11:59:01 PM,8/5/2020 8:07:32 AM,488
1,1RDDPVL01,AGS,06:00 hrs to 22:00 hrs,down - communication failure (DIEBOLD 10xx),8/4/2020 11:58:45 PM,8/5/2020 12:09:09 AM,11
2,1RDDMUM19,AGS,00:00 hrs to 23:59 hrs,close (DIEBOLD 10xx),8/4/2020 11:58:42 PM,8/5/2020 12:09:03 AM,11
3,1RDDMUM19,AGS,00:00 hrs to 23:59 hrs,Close No Other Fault (DIEBOLD),8/4/2020 11:58:42 PM,8/5/2020 12:09:03 AM,11
4,1FNRBL33,AGS,09:00 hrs to 18:00 hrs,down - communication failure (NCR),8/4/2020 11:58:03 PM,8/5/2020 10:07:59 AM,609
...,...,...,...,...,...,...,...
1834573,1FNANA25,AGS,00:00 hrs to 23:59 hrs,supervisor mode alarm is on (NCR),1/26/2021 12:16:08 AM,1/26/2021 11:34:24 AM,678
1834574,1FNANA23,AGS,00:00 hrs to 23:59 hrs,down - communication failure (NCR),1/26/2021 12:15:57 AM,1/26/2021 1:24:55 AM,69
1834575,1FDBOM200,AGS,00:00 hrs to 23:59 hrs,down - communication failure (DIEBOLD 10xx),1/26/2021 12:02:43 AM,1/26/2021 7:01:50 AM,419
1834576,1FDBOM177,AGS,00:00 hrs to 23:59 hrs,cassette 1 out of cash (DIEBOLD 10xx),1/26/2021 12:02:31 AM,1/26/2021 1:20:48 PM,798
1834577,1FDBOM152,AGS,06:00 hrs to 22:00 hrs,receipt printer paper low (DIEBOLD 10xx),1/26/2021 12:02:21 AM,1/27/2021 10:25:08 AM,2063

In [54]:
df.to_csv("Fault_data_AugToJan.csv")

# Ticket Data

In [20]:
from pyxlsb import open_workbook as open_xlsb


path1 = "C:\\Users\\sankalp\\Desktop\\IDDDP\\Aug_to_Oct\\AGS Maintenance  Data\\AGS Aug-20 Data for Predective Maintanance.xlsb"
Df1 = []

with open_xlsb(path1) as wb:
    with wb.get_sheet(1) as sheet:
        for row in sheet.rows():
            Df1.append([item.v for item in row])

maintainance_data_aug = pd.DataFrame(Df1[1:], columns=Df1[0])
maintainance_data_aug

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2217174,1FNPRL01,44047.790300,44047.856805,ATM DOWN DUE TO LINK PROBLEM,Power Failure
1,2217175,1RDWLUC41,44047.757761,44047.802427,ATM DOWN DUE TO LINK PROBLEM,FLM
2,2217948,1FNKAN92,44048.360013,44048.414475,ATM DOWN DUE TO LINK PROBLEM,FLM
3,2220185,1FNBAN04,44049.347799,44049.847427,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM
4,2220412,1CRRJGA02,44049.410740,44049.514579,CARD READER FAULTED,FLM
...,...,...,...,...,...,...
25934,2265458,1CRMHMU82,44074.659155,44074.704171,DEPOSITORY FATAL ERROR,FLM
25935,2265460,3CRGJKA01,44074.659156,44074.704171,DEPOSITORY FATAL ERROR,FLM
25936,2265474,1FNKOL135,44074.676694,44074.689057,ALL CASSETTES FAULTED,FLM
25937,2265474,1FNKOL135,44074.692938,44074.795861,ALL CASSETTES FAULTED,Force Majeure
25938,2265479,1CRMHMU67,44074.678118,44074.735245,ALL CASSETTES FAULTED,FLM

In [21]:
path2 = "C:\\Users\\sankalp\\Desktop\\IDDDP\\Aug_to_Oct\\AGS Maintenance  Data\\AGS Sept-20 Data for Predective Maintanance.xlsx"
maintainance_data_sept = pd.read_excel(path2)
maintainance_data_sept

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2017973,1CRTRWT01,2020-09-01 00:00:01.000000,2020-09-07 14:29:38.007004,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",Spare Pending
1,1977359,1FDBOM171,2020-09-01 00:00:01.000000,2020-09-30 23:59:59.000000,ATM DOWN DUE TO LINK PROBLEM,Bank
2,2020424,1FNMHB04,2020-09-02 18:37:08.296997,2020-09-03 11:20:22.146997,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",SLM
3,2020424,1FNMHB04,2020-09-03 11:20:22.146997,2020-09-04 21:04:14.936998,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM Re-Dispatched
4,2020424,1FNMHB04,2020-09-04 21:04:14.936998,2020-09-08 17:46:02.317000,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",SLM
...,...,...,...,...,...,...
25706,2313240,1FNCHU03,2020-09-30 19:37:28.939999,2020-09-30 20:29:45.933003,ATM DOWN DUE TO LINK PROBLEM,FLM
25707,2313241,1FNKAN132,2020-09-30 19:37:28.996997,2020-09-30 21:06:36.210001,ATM DOWN DUE TO LINK PROBLEM,FLM
25708,2313242,1FNKAN150,2020-09-30 19:37:29.037000,2020-09-30 20:20:13.529996,ATM DOWN DUE TO LINK PROBLEM,FLM
25709,2313243,1FNSKN01,2020-09-30 19:37:29.077003,2020-09-30 23:59:59.000000,ATM DOWN DUE TO LINK PROBLEM,FLM
25710,2313245,1FDKAN173,2020-09-30 19:37:29.162997,2020-09-30 23:59:59.000000,ATM IS OUT OF SERVICE,FLM

In [22]:
ticket_data= pd.concat([maintainance_data_aug,maintainance_data_sept])
ticket_data

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2217174,1FNPRL01,44047.7903,44047.856805,ATM DOWN DUE TO LINK PROBLEM,Power Failure
1,2217175,1RDWLUC41,44047.757761,44047.802427,ATM DOWN DUE TO LINK PROBLEM,FLM
2,2217948,1FNKAN92,44048.360013,44048.414475,ATM DOWN DUE TO LINK PROBLEM,FLM
3,2220185,1FNBAN04,44049.347799,44049.847427,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM
4,2220412,1CRRJGA02,44049.41074,44049.514579,CARD READER FAULTED,FLM
...,...,...,...,...,...,...
25706,2313240,1FNCHU03,2020-09-30 19:37:28.939999,2020-09-30 20:29:45.933003,ATM DOWN DUE TO LINK PROBLEM,FLM
25707,2313241,1FNKAN132,2020-09-30 19:37:28.996997,2020-09-30 21:06:36.210001,ATM DOWN DUE TO LINK PROBLEM,FLM
25708,2313242,1FNKAN150,2020-09-30 19:37:29.037000,2020-09-30 20:20:13.529996,ATM DOWN DUE TO LINK PROBLEM,FLM
25709,2313243,1FNSKN01,2020-09-30 19:37:29.077003,2020-09-30 23:59:59,ATM DOWN DUE TO LINK PROBLEM,FLM
25710,2313245,1FDKAN173,2020-09-30 19:37:29.162997,2020-09-30 23:59:59,ATM IS OUT OF SERVICE,FLM

In [23]:
path3 = "C:\\Users\\sankalp\\Desktop\\IDDDP\\Aug_to_Oct\\AGS Maintenance  Data\\AGS Oct-20 Data for Predective Maintanance.xlsx"
maintainance_data_oct = pd.read_excel(path3)
maintainance_data_oct

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2206627,1FDBOM136,2020-10-07 14:13:11.207004,2020-10-31 23:59:59.000000,ATM DOWN DUE TO LINK PROBLEM,Suspend
1,2314949,1FNDAR04,2020-10-03 11:31:36.089996,2020-10-05 20:20:03.022996,ALL CASSETTES FAULTED,Cashout
2,2314950,1FNKOL200,2020-10-03 11:31:36.156999,2020-10-03 17:02:08.812997,ALL CASSETTES FAULTED,Cashout
3,2314951,1FNKOL237,2020-10-03 11:31:36.232997,2020-10-03 17:02:08.703001,ALL CASSETTES FAULTED,Cashout
4,2230861,1FDSRO02,2020-10-07 14:13:11.207004,2020-10-31 23:59:59.000000,ATM DOWN DUE TO LINK PROBLEM,Suspend
...,...,...,...,...,...,...
28779,2337191,1CRRJBM02,2020-10-31 19:42:47.952999,2020-10-31 22:07:35.057001,DEPOSITORY FATAL ERROR,FLM
28780,2337192,1CRRJAJ501,2020-10-31 19:42:48.017005,2020-10-31 21:13:54.062996,DEPOSITORY FATAL ERROR,FLM
28781,2337193,1FNKHD05,2020-10-31 19:42:48.052999,2020-10-31 21:13:54.030000,ALL CASSETTES FAULTED,FLM
28782,2337194,1CRHRJUD02,2020-10-31 19:42:48.127000,2020-10-31 21:13:53.993003,ENCRYPTOR ERROR,FLM
28783,2337197,1FDBOM167,2020-10-31 19:42:48.283004,2020-10-31 23:59:59.000000,ATM DOWN DUE TO LINK PROBLEM,FLM

In [24]:
ticket_data= pd.concat([ticket_data,maintainance_data_oct])
ticket_data

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2217174,1FNPRL01,44047.7903,44047.856805,ATM DOWN DUE TO LINK PROBLEM,Power Failure
1,2217175,1RDWLUC41,44047.757761,44047.802427,ATM DOWN DUE TO LINK PROBLEM,FLM
2,2217948,1FNKAN92,44048.360013,44048.414475,ATM DOWN DUE TO LINK PROBLEM,FLM
3,2220185,1FNBAN04,44049.347799,44049.847427,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM
4,2220412,1CRRJGA02,44049.41074,44049.514579,CARD READER FAULTED,FLM
...,...,...,...,...,...,...
28779,2337191,1CRRJBM02,2020-10-31 19:42:47.952999,2020-10-31 22:07:35.057001,DEPOSITORY FATAL ERROR,FLM
28780,2337192,1CRRJAJ501,2020-10-31 19:42:48.017005,2020-10-31 21:13:54.062996,DEPOSITORY FATAL ERROR,FLM
28781,2337193,1FNKHD05,2020-10-31 19:42:48.052999,2020-10-31 21:13:54.030000,ALL CASSETTES FAULTED,FLM
28782,2337194,1CRHRJUD02,2020-10-31 19:42:48.127000,2020-10-31 21:13:53.993003,ENCRYPTOR ERROR,FLM
28783,2337197,1FDBOM167,2020-10-31 19:42:48.283004,2020-10-31 23:59:59,ATM DOWN DUE TO LINK PROBLEM,FLM

In [68]:
ticket_data = pd.read_csv("ticket_data_AugToOct.csv")

In [69]:
path4 = "C:\\Users\\sankalp\\Desktop\\IDDDP\\November_data\\AGS Predictive maintenance ticket\\AGS Nov-20 Data for Predective Maintanance.xlsx"
maintainance_data_nov = pd.read_excel(path4)
maintainance_data_nov

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2351234,1FNBHT18,2020-11-17 17:05:37.830002,2020-11-18 14:04:40.213004,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",SLM
1,2351235,1RDWMEH16,2020-11-17 14:42:07.376996,2020-11-20 13:00:05.480000,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM
2,2351236,1CRRJAJ01,2020-11-17 14:42:07.433001,2020-11-17 16:43:58.050002,DEPOSITORY FATAL ERROR,FLM
3,2351237,1FNFZB21,2020-11-17 14:42:07.489999,2020-11-17 21:19:47.317000,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM
4,2351238,1CRHUPKA04,2020-11-17 14:42:07.519997,2020-11-18 09:38:50.027000,ENCRYPTOR ERROR,FLM
...,...,...,...,...,...,...
26646,2360134,1FNANA55,2020-11-30 19:17:21.433004,2020-11-30 23:59:59.000000,ALL CASSETTES FAULTED,FLM
26647,2360135,1RDNCHU01,2020-11-30 17:37:30.040003,2020-11-30 20:44:24.656997,ALL CASSETTES FAULTED,FLM
26648,2360136,1FNKOT15,2020-11-30 17:37:30.072999,2020-11-30 20:44:24.620001,ALL CASSETTES FAULTED,FLM
26649,2360138,1FNBND14,2020-11-30 17:37:30.152997,2020-11-30 20:04:37.629998,ATM DOWN DUE TO LINK PROBLEM,FLM
26650,2360141,1FNBDN05,2020-11-30 18:30:14.910002,2020-11-30 23:59:59.000000,ALL CASSETTES FAULTED,FLM

In [70]:
ticket_data= pd.concat([ticket_data,maintainance_data_nov])
ticket_data

,Unnamed: 0,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,0.0,2217174,1FNPRL01,44047.7903002315,44047.8568051273,ATM DOWN DUE TO LINK PROBLEM,Power Failure
1,1.0,2217175,1RDWLUC41,44047.7577607986,44047.8024271181,ATM DOWN DUE TO LINK PROBLEM,FLM
2,2.0,2217948,1FNKAN92,44048.3600134259,44048.4144746528,ATM DOWN DUE TO LINK PROBLEM,FLM
3,3.0,2220185,1FNBAN04,44049.3477985764,44049.8474270486,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM
4,4.0,2220412,1CRRJGA02,44049.4107404745,44049.5145793634,CARD READER FAULTED,FLM
...,...,...,...,...,...,...,...
26646,NaN,2360134,1FNANA55,2020-11-30 19:17:21.433004,2020-11-30 23:59:59,ALL CASSETTES FAULTED,FLM
26647,NaN,2360135,1RDNCHU01,2020-11-30 17:37:30.040003,2020-11-30 20:44:24.656997,ALL CASSETTES FAULTED,FLM
26648,NaN,2360136,1FNKOT15,2020-11-30 17:37:30.072999,2020-11-30 20:44:24.620001,ALL CASSETTES FAULTED,FLM
26649,NaN,2360138,1FNBND14,2020-11-30 17:37:30.152997,2020-11-30 20:04:37.629998,ATM DOWN DUE TO LINK PROBLEM,FLM
26650,NaN,2360141,1FNBDN05,2020-11-30 18:30:14.910002,2020-11-30 23:59:59,ALL CASSETTES FAULTED,FLM

In [71]:
path5 = "C:\\Users\\sankalp\\Desktop\\IDDDP\\December_data\\AGS predictive maintenace ticket\\AGS Dec-20 Data for Predective Maintanance.xlsx"
maintainance_data_dec = pd.read_excel(path5)
maintainance_data_dec

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2363027,1CRHRJKO03,2020-12-03 16:50:21.412997,2020-12-03 18:42:34.646999,DEPOSITORY FATAL ERROR,FLM
1,2363028,1CRRJJP36,2020-12-03 16:50:21.453000,2020-12-04 14:35:40.027004,DEPOSITORY FATAL ERROR,FLM
2,2363718,1FDABN39,2020-12-04 16:58:49.073002,2020-12-05 09:28:37.140004,ATM DOWN DUE TO LINK PROBLEM,FLM
3,2363719,1FNRSM06,2020-12-04 16:58:49.130000,2020-12-05 13:02:00.910003,ATM DOWN DUE TO LINK PROBLEM,FLM
4,1657506,1FNPTN13,2020-12-01 00:00:01.000000,2020-12-09 16:37:44.640002,ATM DOWN DUE TO LINK PROBLEM,Bank
...,...,...,...,...,...,...
25502,2382600,1CRRJAL02,2020-12-31 19:36:39.890002,2020-12-31 23:59:59.000000,DEPOSITORY FATAL ERROR,FLM
25503,2382601,1CRRJDA01,2020-12-31 19:36:40.010003,2020-12-31 23:59:59.000000,DEPOSITORY FATAL ERROR,FLM
25504,2382602,1CRRJUD501,2020-12-31 19:36:40.080004,2020-12-31 23:59:59.000000,DEPOSITORY FATAL ERROR,FLM
25505,2382603,1CRRJJP22,2020-12-31 19:36:40.183002,2020-12-31 23:59:59.000000,DEPOSITORY FATAL ERROR,FLM
25506,2382606,1FNKMR10,2020-12-31 19:36:40.600002,2020-12-31 20:39:13.779999,ENCRYPTOR ERROR,FLM

In [72]:
ticket_data= pd.concat([ticket_data,maintainance_data_dec])
ticket_data

,Unnamed: 0,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,0.0,2217174,1FNPRL01,44047.7903002315,44047.8568051273,ATM DOWN DUE TO LINK PROBLEM,Power Failure
1,1.0,2217175,1RDWLUC41,44047.7577607986,44047.8024271181,ATM DOWN DUE TO LINK PROBLEM,FLM
2,2.0,2217948,1FNKAN92,44048.3600134259,44048.4144746528,ATM DOWN DUE TO LINK PROBLEM,FLM
3,3.0,2220185,1FNBAN04,44049.3477985764,44049.8474270486,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM
4,4.0,2220412,1CRRJGA02,44049.4107404745,44049.5145793634,CARD READER FAULTED,FLM
...,...,...,...,...,...,...,...
25502,NaN,2382600,1CRRJAL02,2020-12-31 19:36:39.890002,2020-12-31 23:59:59,DEPOSITORY FATAL ERROR,FLM
25503,NaN,2382601,1CRRJDA01,2020-12-31 19:36:40.010003,2020-12-31 23:59:59,DEPOSITORY FATAL ERROR,FLM
25504,NaN,2382602,1CRRJUD501,2020-12-31 19:36:40.080004,2020-12-31 23:59:59,DEPOSITORY FATAL ERROR,FLM
25505,NaN,2382603,1CRRJJP22,2020-12-31 19:36:40.183002,2020-12-31 23:59:59,DEPOSITORY FATAL ERROR,FLM
25506,NaN,2382606,1FNKMR10,2020-12-31 19:36:40.600002,2020-12-31 20:39:13.779999,ENCRYPTOR ERROR,FLM

In [73]:
path6 = "C:\\Users\\sankalp\\Desktop\\IDDDP\\January_data\\AGS Ticket Maintenance Data Jan 21\\AGS Jan-21 Data for Predective Maintanance.xlsx"
maintainance_data_jan = pd.read_excel(path6)
maintainance_data_jan.dropna(how='all',inplace=True)

In [74]:
maintainance_data_jan

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2075805.0,1FDBOM383,2021-01-25 12:33:17.257003,2021-01-25 14:00:34.960003,ATM DOWN DUE TO LINK PROBLEM,Spare Pending
1,2075805.0,1FDBOM383,2021-01-25 14:00:34.960003,2021-01-31 23:59:59.000000,ATM DOWN DUE TO LINK PROBLEM,Bank
2,1892802.0,1FDBOM250,2020-11-10 15:49:59.227003,2021-01-21 13:03:40.500000,ATM DOWN DUE TO LINK PROBLEM,Bank
3,2384474.0,1FNBRM11,2021-01-03 12:59:48.983001,2021-01-03 15:08:26.182997,ATM DOWN DUE TO LINK PROBLEM,FLM
4,2384475.0,1FDKOT10,2021-01-03 12:59:49.033000,2021-01-03 13:02:10.017004,ATM IS OUT OF SERVICE,FLM
...,...,...,...,...,...,...
28167,2405872.0,1FNRBL20,2021-01-31 12:07:21.286998,2021-01-31 12:25:30.493004,ATM IS MARK DOWN,FLM
28168,2405873.0,1FNSUL12,2021-01-31 12:07:29.597002,2021-01-31 12:25:05.930003,ATM IS MARK DOWN,FLM
28169,2405874.0,1FNSNE04,2021-01-31 12:07:37.493002,2021-01-31 12:24:42.742999,ATM IS MARK DOWN,FLM
28170,2405875.0,1FNSNE03,2021-01-31 12:07:50.346999,2021-01-31 12:24:26.367002,ATM IS MARK DOWN,FLM
28171,2405876.0,1RDDALD07,2021-01-31 12:07:58.022999,2021-01-31 12:24:11.583003,ATM IS MARK DOWN,FLM

In [75]:
ticket_data= pd.concat([ticket_data,maintainance_data_jan])
ticket_data

,Unnamed: 0,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,0.0,2217174.0,1FNPRL01,44047.7903002315,44047.8568051273,ATM DOWN DUE TO LINK PROBLEM,Power Failure
1,1.0,2217175.0,1RDWLUC41,44047.7577607986,44047.8024271181,ATM DOWN DUE TO LINK PROBLEM,FLM
2,2.0,2217948.0,1FNKAN92,44048.3600134259,44048.4144746528,ATM DOWN DUE TO LINK PROBLEM,FLM
3,3.0,2220185.0,1FNBAN04,44049.3477985764,44049.8474270486,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM
4,4.0,2220412.0,1CRRJGA02,44049.4107404745,44049.5145793634,CARD READER FAULTED,FLM
...,...,...,...,...,...,...,...
28167,NaN,2405872.0,1FNRBL20,2021-01-31 12:07:21.286998,2021-01-31 12:25:30.493004,ATM IS MARK DOWN,FLM
28168,NaN,2405873.0,1FNSUL12,2021-01-31 12:07:29.597002,2021-01-31 12:25:05.930003,ATM IS MARK DOWN,FLM
28169,NaN,2405874.0,1FNSNE04,2021-01-31 12:07:37.493002,2021-01-31 12:24:42.742999,ATM IS MARK DOWN,FLM
28170,NaN,2405875.0,1FNSNE03,2021-01-31 12:07:50.346999,2021-01-31 12:24:26.367002,ATM IS MARK DOWN,FLM
28171,NaN,2405876.0,1RDDALD07,2021-01-31 12:07:58.022999,2021-01-31 12:24:11.583003,ATM IS MARK DOWN,FLM

In [76]:
ticket_data.drop("Unnamed: 0",axis =1,inplace=True)
ticket_data

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2217174.0,1FNPRL01,44047.7903002315,44047.8568051273,ATM DOWN DUE TO LINK PROBLEM,Power Failure
1,2217175.0,1RDWLUC41,44047.7577607986,44047.8024271181,ATM DOWN DUE TO LINK PROBLEM,FLM
2,2217948.0,1FNKAN92,44048.3600134259,44048.4144746528,ATM DOWN DUE TO LINK PROBLEM,FLM
3,2220185.0,1FNBAN04,44049.3477985764,44049.8474270486,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM
4,2220412.0,1CRRJGA02,44049.4107404745,44049.5145793634,CARD READER FAULTED,FLM
...,...,...,...,...,...,...
28167,2405872.0,1FNRBL20,2021-01-31 12:07:21.286998,2021-01-31 12:25:30.493004,ATM IS MARK DOWN,FLM
28168,2405873.0,1FNSUL12,2021-01-31 12:07:29.597002,2021-01-31 12:25:05.930003,ATM IS MARK DOWN,FLM
28169,2405874.0,1FNSNE04,2021-01-31 12:07:37.493002,2021-01-31 12:24:42.742999,ATM IS MARK DOWN,FLM
28170,2405875.0,1FNSNE03,2021-01-31 12:07:50.346999,2021-01-31 12:24:26.367002,ATM IS MARK DOWN,FLM
28171,2405876.0,1RDDALD07,2021-01-31 12:07:58.022999,2021-01-31 12:24:11.583003,ATM IS MARK DOWN,FLM

In [77]:
ticket_data.to_csv("Ticket_data_AugToJan.csv")

# preprocessing

In [4]:
Fault_data = pd.read_csv("Fault_data_AugToJan.csv")
# Ticket_data = pd.read_csv("Ticket_data_AugToJan.csv")

In [5]:
Fault_data.drop("Unnamed: 0",axis =1,inplace=True)

In [6]:
Fault_data

,Terminal ID,MS VENDOR,Operation Hours,Fault,Started at,Ended at,Duration (minutes)
0,1RDNMIR03,AGS,00:00 hrs to 23:59 hrs,type 2 currency cassette low (NCR),8/4/2020 11:59:01 PM,8/5/2020 8:07:32 AM,488
1,1RDDPVL01,AGS,06:00 hrs to 22:00 hrs,down - communication failure (DIEBOLD 10xx),8/4/2020 11:58:45 PM,8/5/2020 12:09:09 AM,11
2,1RDDMUM19,AGS,00:00 hrs to 23:59 hrs,close (DIEBOLD 10xx),8/4/2020 11:58:42 PM,8/5/2020 12:09:03 AM,11
3,1RDDMUM19,AGS,00:00 hrs to 23:59 hrs,Close No Other Fault (DIEBOLD),8/4/2020 11:58:42 PM,8/5/2020 12:09:03 AM,11
4,1FNRBL33,AGS,09:00 hrs to 18:00 hrs,down - communication failure (NCR),8/4/2020 11:58:03 PM,8/5/2020 10:07:59 AM,609
...,...,...,...,...,...,...,...
1834573,1FNANA25,AGS,00:00 hrs to 23:59 hrs,supervisor mode alarm is on (NCR),1/26/2021 12:16:08 AM,1/26/2021 11:34:24 AM,678
1834574,1FNANA23,AGS,00:00 hrs to 23:59 hrs,down - communication failure (NCR),1/26/2021 12:15:57 AM,1/26/2021 1:24:55 AM,69
1834575,1FDBOM200,AGS,00:00 hrs to 23:59 hrs,down - communication failure (DIEBOLD 10xx),1/26/2021 12:02:43 AM,1/26/2021 7:01:50 AM,419
1834576,1FDBOM177,AGS,00:00 hrs to 23:59 hrs,cassette 1 out of cash (DIEBOLD 10xx),1/26/2021 12:02:31 AM,1/26/2021 1:20:48 PM,798
1834577,1FDBOM152,AGS,06:00 hrs to 22:00 hrs,receipt printer paper low (DIEBOLD 10xx),1/26/2021 12:02:21 AM,1/27/2021 10:25:08 AM,2063

In [15]:
p1_ls  = ["All Cassette Faulted (DIEBOLD)","All Cassette Faulted (NCR)","both supply and supervisor switches on (DIEBOLD 10xx)","card reader failure (DIEBOLD 10xx)",
"cash handler  fatal (NCR)","cash handler reject bin overfill (NCR)","Cashout (DIEBOLD)","Cashout (NCR)","close (DIEBOLD 10xx)","close (NCR)","down - communication failure (DIEBOLD 10xx)",
"down - communication failure (NCR)","encrypted pin pad failure (DIEBOLD 10xx)","encryptor  fatal (NCR)","journal paper out (NCR)",
"journal printer  fatal (NCR)","journal printer paper out (DIEBOLD 10xx)","magnetic card read/write  fatal (NCR)","supervisor mode alarm is on (NCR)",
"supervisor switch on (DIEBOLD 10xx)","receipt printer  fatal (NCR)"]

In [14]:
set(Fault_data['Fault'])

{'All Cassette Faulted (DIEBOLD)',
 'All Cassette Faulted (NCR)',
 'Anycassette Faulted (DIEBOLD)',
 'Anycassette Faulted (NCR)',
 'BNA Fatal (NCR)',
 'BNA Not Configured (NCR)',
 'BNA Overfill (NCR)',
 'BNA Warning (NCR)',
 'BNA_Dispenser_Both_Faulty',
 'Cashout (DIEBOLD)',
 'Cashout (NCR)',
 'Cashout Endcash GT Amount (NCR)',
 'Cashout Endcash LTEQ Amount  (NCR)',
 'Cashout No Other Fault (DIEBOLD)',
 'Cashout No Other Fault (NCR)',
 'Cassette 1 Not Present (DIEBOLD)',
 'Cassette 2 Not Present (DIEBOLD)',
 'Cassette 3 Not Present (DIEBOLD)',
 'Cassette 4 Not Present (DIEBOLD)',
 'Close No Other Fault (DIEBOLD)',
 'Close No Other Fault(NCR)',
 'No Cassette Present (DIEBOLD)',
 'SUSPECTED SKIMMING ATTACK DETECTED (DIEBOLD)',
 'SUSPECTED SKIMMING ATTACK DETECTED (NCR)',
 'both supply and supervisor switches on (DIEBOLD 10xx)',
 'card reader failure (DIEBOLD 10xx)',
 'cash handler  fatal (NCR)',
 'cash handler  suspended (NCR)',
 'cash handler reject bin out (NCR)',
 'cash handler reject bin overfill (NCR)',
 'cash handler warning (NCR)',
 'cassette  1  fatal (NCR)',
 'cassette  2  fatal (NCR)',
 'cassette  3  fatal (NCR)',
 'cassette  4  fatal (NCR)',
 'cassette 1 faulted (DIEBOLD 10xx)',
 'cassette 1 low on cash (DIEBOLD 10xx)',
 'cassette 1 out of cash (DIEBOLD 10xx)',
 'cassette 2 faulted (DIEBOLD 10xx)',
 'cassette 2 low on cash (DIEBOLD 10xx)',
 'cassette 2 out of cash (DIEBOLD 10xx)',
 'cassette 3 faulted (DIEBOLD 10xx)',
 'cassette 3 low on cash (DIEBOLD 10xx)',
 'cassette 3 out of cash (DIEBOLD 10xx)',
 'cassette 4 faulted (DIEBOLD 10xx)',
 'cassette 4 low on cash (DIEBOLD 10xx)',
 'cassette 4 out of cash (DIEBOLD 10xx)',
 'close (DIEBOLD 10xx)',
 'close (NCR)',
 'currency bin 1 removed (NCR)',
 'currency bin 2 removed (NCR)',
 'currency bin 3 removed (NCR)',
 'currency bin 4 removed (NCR)',
 'currency reject bin removed (NCR)',
 'depository  fatal (NCR)',
 'down - communication failure (DIEBOLD 10xx)',
 'down - communication failure (NCR)',
 'encrypted pin pad failure (DIEBOLD 10xx)',
 'encryptor  fatal (NCR)',
 'encryptor  suspended (NCR)',
 'encryptor warning (NCR)',
 'journal paper low (NCR)',
 'journal paper out (NCR)',
 'journal printer  fatal (NCR)',
 'journal printer paper out (DIEBOLD 10xx)',
 'journal printer warning (NCR)',
 'magnetic card read write warning (NCR)',
 'magnetic card read/write  fatal (NCR)',
 'magnetic card read/write  suspended (NCR)',
 'power failure (DIEBOLD 10xx)',
 'receipt paper low (NCR)',
 'receipt paper out (NCR)',
 'receipt printer  fatal (NCR)',
 'receipt printer faulted (DIEBOLD 10xx)',
 'receipt printer paper low (DIEBOLD 10xx)',
 'receipt printer paper out (DIEBOLD 10xx)',
 'receipt printer warning (NCR)',
 'supervisor mode alarm is on (NCR)',
 'supervisor switch on (DIEBOLD 10xx)',
 'supply switch on (DIEBOLD 10xx)',
 'type 1 currency cassette low (NCR)',
 'type 1 currency cassette not configured (NCR)',
 'type 1 currency cassette out (NCR)',
 'type 2 currency cassette low (NCR)',
 'type 2 currency cassette out (NCR)',
 'type 3 currency cassette low (NCR)',
 'type 3 currency cassette out (NCR)',
 'type 4 currency cassette low (NCR)',
 'type 4 currency cassette out (NCR)'}

In [16]:
A = set(Fault_data['Fault']) & set(p1_ls)
B = set(p1_ls)
B-A

set()

In [5]:
Ticket_data.drop("Unnamed: 0",axis =1,inplace=True)
Ticket_data

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2217174.0,1FNPRL01,44047.7903002315,44047.8568051273,ATM DOWN DUE TO LINK PROBLEM,Power Failure
1,2217175.0,1RDWLUC41,44047.7577607986,44047.8024271181,ATM DOWN DUE TO LINK PROBLEM,FLM
2,2217948.0,1FNKAN92,44048.3600134259,44048.4144746528,ATM DOWN DUE TO LINK PROBLEM,FLM
3,2220185.0,1FNBAN04,44049.3477985764,44049.8474270486,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM
4,2220412.0,1CRRJGA02,44049.4107404745,44049.5145793634,CARD READER FAULTED,FLM
...,...,...,...,...,...,...
160759,2405872.0,1FNRBL20,2021-01-31 12:07:21.286998,2021-01-31 12:25:30.493004,ATM IS MARK DOWN,FLM
160760,2405873.0,1FNSUL12,2021-01-31 12:07:29.597002,2021-01-31 12:25:05.930003,ATM IS MARK DOWN,FLM
160761,2405874.0,1FNSNE04,2021-01-31 12:07:37.493002,2021-01-31 12:24:42.742999,ATM IS MARK DOWN,FLM
160762,2405875.0,1FNSNE03,2021-01-31 12:07:50.346999,2021-01-31 12:24:26.367002,ATM IS MARK DOWN,FLM
160763,2405876.0,1RDDALD07,2021-01-31 12:07:58.022999,2021-01-31 12:24:11.583003,ATM IS MARK DOWN,FLM

In [6]:
Ticket_data.columns = ['Ticket ID', 'ATM ID', 'Ticket start', 'Ticket stop', 'Fault',
       'Activity comment']

In [83]:
error_atm = Fault_data["Terminal ID"].unique().tolist()
ticket_atm = Ticket_data["ATM ID"].unique().tolist()
atm_with_tkts = list(set(error_atm) & (set(ticket_atm)))
atm_with_no_tkts = Fault_data[~Fault_data["Terminal ID"].isin(atm_with_tkts)]["Terminal ID"].unique().tolist()
atm_with_no_tkts = pd.DataFrame(atm_with_no_tkts)
atm_with_no_tkts.to_csv("ATMs with no ticket data.csv")
atm_with_no_tkts

             0
0    1CRMHMU07
1     1FNBHA01
2    1FDBOM155
3    1RDWKOL64
4    1RDWMDP02
5    1RDWPGS01
6     1FNKOT57
7    1VD716101
8   1CRHKOHO04
9    1FDBOM192
10   1RDWKOL69
11   1VW735901
12  1CRHMHMU09
13   1DBA08261
14   1VD502001
15  1CRHRJJA01
16   1DBA00381
17   1DBA05691
18   1VW711601
19    1FNBHP04
20   1DBA02391
21  1CRHMHME04
22  1CRHMHME03
23  1CRHMHME02
24   1VD651001

In [84]:
Ticket_data["Activity comment"].value_counts()

FLM                  105102
SLM                   12720
Bank                  11152
FLM Re-Dispatched      8910
Cashout                5784
Need To Log Call       4131
Spare Pending          2981
Force Majeure          2801
Power Failure          2511
No Transaction         2361
Network                1456
Suspend                 648
BANK CASH OUT           195
Lan Cable                 3
Electrical                3
TIS                       3
Sourcing                  2
UPS                       1
Name: Activity comment, dtype: int64

In [13]:
# p1 = pd.read_excel("p1 faults.xlsx")
# p1 = p1["Fault"].tolist()
# p1_ls  = ["All Cassette Faulted (DIEBOLD)","All Cassette Faulted (NCR)","both supply and supervisor switches on (DIEBOLD 10xx)","card reader failure (DIEBOLD 10xx)",
# "cash handler  fatal (NCR)","cash handler reject bin overfill (NCR)","Cashout (DIEBOLD)","Cashout (NCR)","close (DIEBOLD 10xx)","close (NCR)","down - communication failure (DIEBOLD 10xx)",
# "down - communication failure (NCR)","encrypted pin pad failure (DIEBOLD 10xx)","encryptor  fatal (NCR)","journal paper out (NCR)",
# "journal printer  fatal (NCR)","journal printer paper out (DIEBOLD 10xx)","magnetic card read/write  fatal (NCR)","supervisor mode alarm is on (NCR)",
# "supervisor switch on (DIEBOLD 10xx)","receipt printer fatal (NCR)"]
p1 = Fault_data["Fault"].unique().tolist()

# ticket = Ticket_data[Ticket_data["Activity comment"].str.contains("SLM|FLM")]
ticket = Ticket_data
ticket

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2217174.0,1FNPRL01,44047.7903002315,44047.8568051273,ATM DOWN DUE TO LINK PROBLEM,Power Failure
1,2217175.0,1RDWLUC41,44047.7577607986,44047.8024271181,ATM DOWN DUE TO LINK PROBLEM,FLM
2,2217948.0,1FNKAN92,44048.3600134259,44048.4144746528,ATM DOWN DUE TO LINK PROBLEM,FLM
3,2220185.0,1FNBAN04,44049.3477985764,44049.8474270486,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM
4,2220412.0,1CRRJGA02,44049.4107404745,44049.5145793634,CARD READER FAULTED,FLM
...,...,...,...,...,...,...
160759,2405872.0,1FNRBL20,2021-01-31 12:07:21.286998,2021-01-31 12:25:30.493004,ATM IS MARK DOWN,FLM
160760,2405873.0,1FNSUL12,2021-01-31 12:07:29.597002,2021-01-31 12:25:05.930003,ATM IS MARK DOWN,FLM
160761,2405874.0,1FNSNE04,2021-01-31 12:07:37.493002,2021-01-31 12:24:42.742999,ATM IS MARK DOWN,FLM
160762,2405875.0,1FNSNE03,2021-01-31 12:07:50.346999,2021-01-31 12:24:26.367002,ATM IS MARK DOWN,FLM
160763,2405876.0,1RDDALD07,2021-01-31 12:07:58.022999,2021-01-31 12:24:11.583003,ATM IS MARK DOWN,FLM

In [14]:
len(p1_ls)

21

In [17]:
errors = {p1_ls[i] : "e{}".format(i+1) for i in range(len(p1_ls))}
Fault_data = Fault_data.loc[Fault_data["Fault"].isin(p1_ls)]
Fault_data = Fault_data.replace({"Fault" : errors})
Fault_data

,Terminal ID,MS VENDOR,Operation Hours,Fault,Started at,Ended at,Duration (minutes)
1,1RDDPVL01,AGS,06:00 hrs to 22:00 hrs,e11,8/4/2020 11:58:45 PM,8/5/2020 12:09:09 AM,11
2,1RDDMUM19,AGS,00:00 hrs to 23:59 hrs,e9,8/4/2020 11:58:42 PM,8/5/2020 12:09:03 AM,11
4,1FNRBL33,AGS,09:00 hrs to 18:00 hrs,e12,8/4/2020 11:58:03 PM,8/5/2020 10:07:59 AM,609
5,1FNKOL151,AGS,00:00 hrs to 23:59 hrs,e12,8/4/2020 11:57:36 PM,8/5/2020 12:07:35 AM,10
6,1FNJAI99,AGS,06:00 hrs to 22:00 hrs,e10,8/4/2020 11:57:21 PM,8/5/2020 9:59:31 AM,602
...,...,...,...,...,...,...,...
1834571,1FNANA25,AGS,00:00 hrs to 23:59 hrs,e10,1/26/2021 12:16:08 AM,1/26/2021 11:34:24 AM,678
1834572,1FNANA25,AGS,00:00 hrs to 23:59 hrs,e12,1/26/2021 12:16:08 AM,1/26/2021 11:34:24 AM,678
1834573,1FNANA25,AGS,00:00 hrs to 23:59 hrs,e19,1/26/2021 12:16:08 AM,1/26/2021 11:34:24 AM,678
1834574,1FNANA23,AGS,00:00 hrs to 23:59 hrs,e12,1/26/2021 12:15:57 AM,1/26/2021 1:24:55 AM,69
1834575,1FDBOM200,AGS,00:00 hrs to 23:59 hrs,e11,1/26/2021 12:02:43 AM,1/26/2021 7:01:50 AM,419

In [18]:
Fault_data.drop(columns = ["MS VENDOR","Operation Hours"],inplace = True)
Fault_data

,Terminal ID,Fault,Started at,Ended at,Duration (minutes)
1,1RDDPVL01,e11,8/4/2020 11:58:45 PM,8/5/2020 12:09:09 AM,11
2,1RDDMUM19,e9,8/4/2020 11:58:42 PM,8/5/2020 12:09:03 AM,11
4,1FNRBL33,e12,8/4/2020 11:58:03 PM,8/5/2020 10:07:59 AM,609
5,1FNKOL151,e12,8/4/2020 11:57:36 PM,8/5/2020 12:07:35 AM,10
6,1FNJAI99,e10,8/4/2020 11:57:21 PM,8/5/2020 9:59:31 AM,602
...,...,...,...,...,...
1834571,1FNANA25,e10,1/26/2021 12:16:08 AM,1/26/2021 11:34:24 AM,678
1834572,1FNANA25,e12,1/26/2021 12:16:08 AM,1/26/2021 11:34:24 AM,678
1834573,1FNANA25,e19,1/26/2021 12:16:08 AM,1/26/2021 11:34:24 AM,678
1834574,1FNANA23,e12,1/26/2021 12:15:57 AM,1/26/2021 1:24:55 AM,69
1834575,1FDBOM200,e11,1/26/2021 12:02:43 AM,1/26/2021 7:01:50 AM,419

In [21]:
len(Fault_data['Fault'].unique())

21

In [18]:
ticket

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2217174.0,1FNPRL01,44047.7903002315,44047.8568051273,ATM DOWN DUE TO LINK PROBLEM,Power Failure
1,2217175.0,1RDWLUC41,44047.7577607986,44047.8024271181,ATM DOWN DUE TO LINK PROBLEM,FLM
2,2217948.0,1FNKAN92,44048.3600134259,44048.4144746528,ATM DOWN DUE TO LINK PROBLEM,FLM
3,2220185.0,1FNBAN04,44049.3477985764,44049.8474270486,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM
4,2220412.0,1CRRJGA02,44049.4107404745,44049.5145793634,CARD READER FAULTED,FLM
...,...,...,...,...,...,...
160759,2405872.0,1FNRBL20,2021-01-31 12:07:21.286998,2021-01-31 12:25:30.493004,ATM IS MARK DOWN,FLM
160760,2405873.0,1FNSUL12,2021-01-31 12:07:29.597002,2021-01-31 12:25:05.930003,ATM IS MARK DOWN,FLM
160761,2405874.0,1FNSNE04,2021-01-31 12:07:37.493002,2021-01-31 12:24:42.742999,ATM IS MARK DOWN,FLM
160762,2405875.0,1FNSNE03,2021-01-31 12:07:50.346999,2021-01-31 12:24:26.367002,ATM IS MARK DOWN,FLM
160763,2405876.0,1RDDALD07,2021-01-31 12:07:58.022999,2021-01-31 12:24:11.583003,ATM IS MARK DOWN,FLM

In [19]:
ticket.to_csv("SLM_FLM maintenance.csv")

In [22]:
Fault_data.to_csv("p1 error data.csv")

# preprocessing continue

In [23]:
ticket = pd.read_csv("SLM_FLM maintenance.csv")
ticket.drop("Unnamed: 0",axis =1,inplace=True)
data = pd.read_csv("p1 error data.csv")
data.drop("Unnamed: 0",axis =1,inplace=True)

In [23]:
ticket

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2217174.0,1FNPRL01,44047.7903002315,44047.8568051273,ATM DOWN DUE TO LINK PROBLEM,Power Failure
1,2217175.0,1RDWLUC41,44047.7577607986,44047.8024271181,ATM DOWN DUE TO LINK PROBLEM,FLM
2,2217948.0,1FNKAN92,44048.3600134259,44048.4144746528,ATM DOWN DUE TO LINK PROBLEM,FLM
3,2220185.0,1FNBAN04,44049.3477985764,44049.8474270486,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM
4,2220412.0,1CRRJGA02,44049.4107404745,44049.5145793634,CARD READER FAULTED,FLM
...,...,...,...,...,...,...
160759,2405872.0,1FNRBL20,2021-01-31 12:07:21.286998,2021-01-31 12:25:30.493004,ATM IS MARK DOWN,FLM
160760,2405873.0,1FNSUL12,2021-01-31 12:07:29.597002,2021-01-31 12:25:05.930003,ATM IS MARK DOWN,FLM
160761,2405874.0,1FNSNE04,2021-01-31 12:07:37.493002,2021-01-31 12:24:42.742999,ATM IS MARK DOWN,FLM
160762,2405875.0,1FNSNE03,2021-01-31 12:07:50.346999,2021-01-31 12:24:26.367002,ATM IS MARK DOWN,FLM
160763,2405876.0,1RDDALD07,2021-01-31 12:07:58.022999,2021-01-31 12:24:11.583003,ATM IS MARK DOWN,FLM

In [24]:
index = [i for i in range(25939)]
ticket = ticket.drop(index)
ticket

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
25939,2017973.0,1CRTRWT01,2020-09-01 00:00:01,2020-09-07 14:29:38.007004,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",Spare Pending
25940,1977359.0,1FDBOM171,2020-09-01 00:00:01,2020-09-30 23:59:59,ATM DOWN DUE TO LINK PROBLEM,Bank
25941,2020424.0,1FNMHB04,2020-09-02 18:37:08.296997,2020-09-03 11:20:22.146997,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",SLM
25942,2020424.0,1FNMHB04,2020-09-03 11:20:22.146997,2020-09-04 21:04:14.936998,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM Re-Dispatched
25943,2020424.0,1FNMHB04,2020-09-04 21:04:14.936998,2020-09-08 17:46:02.317000,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",SLM
...,...,...,...,...,...,...
160759,2405872.0,1FNRBL20,2021-01-31 12:07:21.286998,2021-01-31 12:25:30.493004,ATM IS MARK DOWN,FLM
160760,2405873.0,1FNSUL12,2021-01-31 12:07:29.597002,2021-01-31 12:25:05.930003,ATM IS MARK DOWN,FLM
160761,2405874.0,1FNSNE04,2021-01-31 12:07:37.493002,2021-01-31 12:24:42.742999,ATM IS MARK DOWN,FLM
160762,2405875.0,1FNSNE03,2021-01-31 12:07:50.346999,2021-01-31 12:24:26.367002,ATM IS MARK DOWN,FLM
160763,2405876.0,1RDDALD07,2021-01-31 12:07:58.022999,2021-01-31 12:24:11.583003,ATM IS MARK DOWN,FLM

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2217174.0,1FNPRL01,04-08-2020 18:58:02,04-08-2020 20:33:48,ATM DOWN DUE TO LINK PROBLEM,Power Failure
1,2217175.0,1RDWLUC41,04-08-2020 18:11:11,04-08-2020 19:15:30,ATM DOWN DUE TO LINK PROBLEM,FLM
2,2217948.0,1FNKAN92,05-08-2020 08:38:25,05-08-2020 09:56:51,ATM DOWN DUE TO LINK PROBLEM,FLM
3,2220185.0,1FNBAN04,06-08-2020 08:20:50,06-08-2020 20:20:18,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM
4,2220412.0,1CRRJGA02,06-08-2020 09:51:28,06-08-2020 12:21:00,CARD READER FAULTED,FLM
...,...,...,...,...,...,...
126727,2405872.0,1FNRBL20,2021-01-31 12:07:21.286998,2021-01-31 12:25:30.493004,ATM IS MARK DOWN,FLM
126728,2405873.0,1FNSUL12,2021-01-31 12:07:29.597002,2021-01-31 12:25:05.930003,ATM IS MARK DOWN,FLM
126729,2405874.0,1FNSNE04,2021-01-31 12:07:37.493002,2021-01-31 12:24:42.742999,ATM IS MARK DOWN,FLM
126730,2405875.0,1FNSNE03,2021-01-31 12:07:50.346999,2021-01-31 12:24:26.367002,ATM IS MARK DOWN,FLM
126731,2405876.0,1RDDALD07,2021-01-31 12:07:58.022999,2021-01-31 12:24:11.583003,ATM IS MARK DOWN,FLM

In [25]:
p = "C:\\Users\\sankalp\\Desktop\\IDDDP\\Aug_to_Oct\\AGS Maintenance  Data\\Aug_data_maintenance.csv"
maintainance_data_aug = pd.read_csv(p)
maintainance_data_aug.columns = ['Ticket ID', 'ATM ID', 'Ticket start', 'Ticket stop', 'Fault',
       'Activity comment']

In [26]:
maintainance_data_aug

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2217174,1FNPRL01,04-08-2020 18:58:02,04-08-2020 20:33:48,ATM DOWN DUE TO LINK PROBLEM,Power Failure
1,2217175,1RDWLUC41,04-08-2020 18:11:11,04-08-2020 19:15:30,ATM DOWN DUE TO LINK PROBLEM,FLM
2,2217948,1FNKAN92,05-08-2020 08:38:25,05-08-2020 09:56:51,ATM DOWN DUE TO LINK PROBLEM,FLM
3,2220185,1FNBAN04,06-08-2020 08:20:50,06-08-2020 20:20:18,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM
4,2220412,1CRRJGA02,06-08-2020 09:51:28,06-08-2020 12:21:00,CARD READER FAULTED,FLM
...,...,...,...,...,...,...
25934,2265458,1CRMHMU82,31-08-2020 15:49:11,31-08-2020 16:54:00,DEPOSITORY FATAL ERROR,FLM
25935,2265460,3CRGJKA01,31-08-2020 15:49:11,31-08-2020 16:54:00,DEPOSITORY FATAL ERROR,FLM
25936,2265474,1FNKOL135,31-08-2020 16:14:26,31-08-2020 16:32:15,ALL CASSETTES FAULTED,FLM
25937,2265474,1FNKOL135,31-08-2020 16:37:50,31-08-2020 19:06:02,ALL CASSETTES FAULTED,Force Majeure
25938,2265479,1CRMHMU67,31-08-2020 16:16:29,31-08-2020 17:38:45,ALL CASSETTES FAULTED,FLM

In [27]:
ticket = pd.concat([maintainance_data_aug,ticket])
ticket

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2217174.0,1FNPRL01,04-08-2020 18:58:02,04-08-2020 20:33:48,ATM DOWN DUE TO LINK PROBLEM,Power Failure
1,2217175.0,1RDWLUC41,04-08-2020 18:11:11,04-08-2020 19:15:30,ATM DOWN DUE TO LINK PROBLEM,FLM
2,2217948.0,1FNKAN92,05-08-2020 08:38:25,05-08-2020 09:56:51,ATM DOWN DUE TO LINK PROBLEM,FLM
3,2220185.0,1FNBAN04,06-08-2020 08:20:50,06-08-2020 20:20:18,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM
4,2220412.0,1CRRJGA02,06-08-2020 09:51:28,06-08-2020 12:21:00,CARD READER FAULTED,FLM
...,...,...,...,...,...,...
160759,2405872.0,1FNRBL20,2021-01-31 12:07:21.286998,2021-01-31 12:25:30.493004,ATM IS MARK DOWN,FLM
160760,2405873.0,1FNSUL12,2021-01-31 12:07:29.597002,2021-01-31 12:25:05.930003,ATM IS MARK DOWN,FLM
160761,2405874.0,1FNSNE04,2021-01-31 12:07:37.493002,2021-01-31 12:24:42.742999,ATM IS MARK DOWN,FLM
160762,2405875.0,1FNSNE03,2021-01-31 12:07:50.346999,2021-01-31 12:24:26.367002,ATM IS MARK DOWN,FLM
160763,2405876.0,1RDDALD07,2021-01-31 12:07:58.022999,2021-01-31 12:24:11.583003,ATM IS MARK DOWN,FLM

In [28]:
ticket

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2217174.0,1FNPRL01,04-08-2020 18:58:02,04-08-2020 20:33:48,ATM DOWN DUE TO LINK PROBLEM,Power Failure
1,2217175.0,1RDWLUC41,04-08-2020 18:11:11,04-08-2020 19:15:30,ATM DOWN DUE TO LINK PROBLEM,FLM
2,2217948.0,1FNKAN92,05-08-2020 08:38:25,05-08-2020 09:56:51,ATM DOWN DUE TO LINK PROBLEM,FLM
3,2220185.0,1FNBAN04,06-08-2020 08:20:50,06-08-2020 20:20:18,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM
4,2220412.0,1CRRJGA02,06-08-2020 09:51:28,06-08-2020 12:21:00,CARD READER FAULTED,FLM
...,...,...,...,...,...,...
160759,2405872.0,1FNRBL20,2021-01-31 12:07:21.286998,2021-01-31 12:25:30.493004,ATM IS MARK DOWN,FLM
160760,2405873.0,1FNSUL12,2021-01-31 12:07:29.597002,2021-01-31 12:25:05.930003,ATM IS MARK DOWN,FLM
160761,2405874.0,1FNSNE04,2021-01-31 12:07:37.493002,2021-01-31 12:24:42.742999,ATM IS MARK DOWN,FLM
160762,2405875.0,1FNSNE03,2021-01-31 12:07:50.346999,2021-01-31 12:24:26.367002,ATM IS MARK DOWN,FLM
160763,2405876.0,1RDDALD07,2021-01-31 12:07:58.022999,2021-01-31 12:24:11.583003,ATM IS MARK DOWN,FLM

In [29]:
ticket.to_csv("SLM_FLM maintenance.csv")

In [30]:
ticket['ATM ID'].value_counts()

1CRRJSK03    246
1CRMHTH33    222
1FDBOM169    201
1CRMHMU82    176
1FDFZB40     172
            ...
1VD739301      1
1FDBHT20       1
1DBN18391      1
1FNBOM187      1
1FDBOM03       1
Name: ATM ID, Length: 4110, dtype: int64

In [31]:
ticket['Activity comment'].value_counts()

FLM                  105102
SLM                   12720
Bank                  11152
FLM Re-Dispatched      8910
Cashout                5784
Need To Log Call       4131
Spare Pending          2981
Force Majeure          2801
Power Failure          2511
No Transaction         2361
Network                1456
Suspend                 648
BANK CASH OUT           195
TIS                       3
Lan Cable                 3
Electrical                3
Sourcing                  2
UPS                       1
Name: Activity comment, dtype: int64

In [32]:
ticket = pd.read_csv("SLM_FLM maintenance.csv")
ticket.drop("Unnamed: 0",axis =1,inplace=True)
data = pd.read_csv("p1 error data.csv")
data.drop("Unnamed: 0",axis =1,inplace=True)

In [33]:
data

,Terminal ID,Fault,Started at,Ended at,Duration (minutes)
0,1RDDPVL01,e11,8/4/2020 11:58:45 PM,8/5/2020 12:09:09 AM,11
1,1RDDMUM19,e9,8/4/2020 11:58:42 PM,8/5/2020 12:09:03 AM,11
2,1FNRBL33,e12,8/4/2020 11:58:03 PM,8/5/2020 10:07:59 AM,609
3,1FNKOL151,e12,8/4/2020 11:57:36 PM,8/5/2020 12:07:35 AM,10
4,1FNJAI99,e10,8/4/2020 11:57:21 PM,8/5/2020 9:59:31 AM,602
...,...,...,...,...,...
709574,1FNANA25,e10,1/26/2021 12:16:08 AM,1/26/2021 11:34:24 AM,678
709575,1FNANA25,e12,1/26/2021 12:16:08 AM,1/26/2021 11:34:24 AM,678
709576,1FNANA25,e19,1/26/2021 12:16:08 AM,1/26/2021 11:34:24 AM,678
709577,1FNANA23,e12,1/26/2021 12:15:57 AM,1/26/2021 1:24:55 AM,69
709578,1FDBOM200,e11,1/26/2021 12:02:43 AM,1/26/2021 7:01:50 AM,419

In [19]:
# atms_with_less8 = list(set(ticket['ATM ID'].value_counts().reset_index(name="count").query("count > 8")["index"]))

In [23]:
# len(atms_with_less8)

3630

In [76]:
# ticket = ticket.loc[ticket['ATM ID'].isin(atms_with_less8)]
ticket

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2217174.0,1FNPRL01,04-08-2020 18:58:02,04-08-2020 20:33:48,ATM DOWN DUE TO LINK PROBLEM,Power Failure
1,2217175.0,1RDWLUC41,04-08-2020 18:11:11,04-08-2020 19:15:30,ATM DOWN DUE TO LINK PROBLEM,FLM
2,2217948.0,1FNKAN92,05-08-2020 08:38:25,05-08-2020 09:56:51,ATM DOWN DUE TO LINK PROBLEM,FLM
3,2220185.0,1FNBAN04,06-08-2020 08:20:50,06-08-2020 20:20:18,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM
4,2220412.0,1CRRJGA02,06-08-2020 09:51:28,06-08-2020 12:21:00,CARD READER FAULTED,FLM
...,...,...,...,...,...,...
126727,2405872.0,1FNRBL20,2021-01-31 12:07:21.286998,2021-01-31 12:25:30.493004,ATM IS MARK DOWN,FLM
126728,2405873.0,1FNSUL12,2021-01-31 12:07:29.597002,2021-01-31 12:25:05.930003,ATM IS MARK DOWN,FLM
126729,2405874.0,1FNSNE04,2021-01-31 12:07:37.493002,2021-01-31 12:24:42.742999,ATM IS MARK DOWN,FLM
126730,2405875.0,1FNSNE03,2021-01-31 12:07:50.346999,2021-01-31 12:24:26.367002,ATM IS MARK DOWN,FLM
126731,2405876.0,1RDDALD07,2021-01-31 12:07:58.022999,2021-01-31 12:24:11.583003,ATM IS MARK DOWN,FLM

In [34]:
ticket["Ticket start"]  = pd.to_datetime(ticket["Ticket start"]).dt.strftime('%d-%m-%Y %H:%M')
ticket["Ticket stop"]  = pd.to_datetime(ticket["Ticket stop"]).dt.strftime('%d-%m-%Y %H:%M')
ticket

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2217174.0,1FNPRL01,08-04-2020 18:58,08-04-2020 20:33,ATM DOWN DUE TO LINK PROBLEM,Power Failure
1,2217175.0,1RDWLUC41,08-04-2020 18:11,08-04-2020 19:15,ATM DOWN DUE TO LINK PROBLEM,FLM
2,2217948.0,1FNKAN92,08-05-2020 08:38,08-05-2020 09:56,ATM DOWN DUE TO LINK PROBLEM,FLM
3,2220185.0,1FNBAN04,08-06-2020 08:20,08-06-2020 20:20,"CASH HANDLER FATAL ERROR,CASSETTE FAULTED",FLM
4,2220412.0,1CRRJGA02,08-06-2020 09:51,08-06-2020 12:21,CARD READER FAULTED,FLM
...,...,...,...,...,...,...
160759,2405872.0,1FNRBL20,31-01-2021 12:07,31-01-2021 12:25,ATM IS MARK DOWN,FLM
160760,2405873.0,1FNSUL12,31-01-2021 12:07,31-01-2021 12:25,ATM IS MARK DOWN,FLM
160761,2405874.0,1FNSNE04,31-01-2021 12:07,31-01-2021 12:24,ATM IS MARK DOWN,FLM
160762,2405875.0,1FNSNE03,31-01-2021 12:07,31-01-2021 12:24,ATM IS MARK DOWN,FLM
160763,2405876.0,1RDDALD07,31-01-2021 12:07,31-01-2021 12:24,ATM IS MARK DOWN,FLM

In [ ]:
# new_format = pd.to_datetime(ticket["Ticket start"].str.strip(), format = '%d-%m-%Y %H:%M')

In [24]:
data[['Terminal ID','Fault']] = data[['Terminal ID','Fault']].astype('category')
data[["Duration (minutes)n"]] = data[["Duration (minutes)"]].astype('int32')
ticket[['Activity comment']] = ticket[['Activity comment']].astype('category')

In [25]:
data["Started at"] = pd.to_datetime(data["Started at"].str.strip(), format = '%m/%d/%Y %I:%M:%S %p')
data["Ended at"] = pd.to_datetime(data["Ended at"].str.strip(), format = '%m/%d/%Y %I:%M:%S %p')

# ticket["Ticket start"] = pd.to_datetime(ticket["Ticket start"].str.strip(), format = '%d-%m-%Y %H:%M')
# ticket["Ticket stop"] = pd.to_datetime(ticket["Ticket stop"].str.strip(), format = '%d-%m-%Y %H:%M')

data = data.sort_values(by = ["Started at"], ignore_index = True)
ticket = ticket.sort_values(by = ["Ticket start"], ignore_index = True)

In [26]:
print(data['Started at'].isnull().sum(),data['Ended at'].isnull().sum(),ticket["Ticket start"].isnull().sum(),ticket["Ticket stop"].isnull().sum())

0 1216 0 0

In [27]:
data['Ended at'].fillna(data['Started at'] + pd.to_timedelta(data["Duration (minutes)"], unit = "m"), inplace=True)

In [28]:
data['Ended at'].isnull().sum()

0

In [29]:
data.to_csv('full_fault_data_updated.csv')
# ticket.to_csv('full_ticket_data_updated.csv')

In [2]:
import pandas as pd
data = pd.read_csv('full_fault_data_updated.csv')
data

,Unnamed: 0,Terminal ID,Fault,Started at,Ended at,Duration (minutes),Duration (minutes)n
0,0,1FWBDN25,e12,2020-08-04 15:07:35,2020-08-04 15:15:14,8,8
1,1,1RDDGKP02,e1,2020-08-04 15:07:49,2020-08-04 16:16:05,69,69
2,2,1RDDHMP01,e7,2020-08-04 15:07:50,2020-08-04 16:31:25,84,84
3,3,1RDDKAN01,e1,2020-08-04 15:07:50,2020-08-04 16:16:06,69,69
4,4,1RDDLUC13,e11,2020-08-04 15:07:52,2020-08-04 15:15:31,8,8
...,...,...,...,...,...,...,...
709574,709574,1FDKOL122,e9,2021-01-31 23:52:57,2021-02-01 07:53:15,481,481
709575,709575,1FDKOL191,e9,2021-01-31 23:53:04,2021-02-01 07:53:22,480,480
709576,709576,1FDKOL192,e9,2021-01-31 23:53:04,2021-02-01 07:53:22,480,480
709577,709577,1FDKOL181,e9,2021-01-31 23:53:04,2021-02-01 07:53:15,480,480
709578,709578,1FDPSS09,e9,2021-01-31 23:54:58,2021-02-01 08:42:23,528,528

In [3]:
data['Fault'].value_counts()

e12    252308
e10    126031
e19     94533
e11     68667
e9      46021
e8      31050
e5      29282
e3      18821
e18     13685
e1       9906
e4       3690
e7       3148
e20      2824
e2       2645
e13      2072
e6       2001
e14      1696
e15       565
e16       544
e17        90
Name: Fault, dtype: int64

# Data making

In [3]:
ticket = pd.read_csv("full_ticket_data.csv")
ticket.drop("Unnamed: 0",axis =1,inplace=True)
ticket['Ticket start'] = pd.to_datetime(ticket['Ticket start'])
ticket['Ticket stop'] = pd.to_datetime(ticket['Ticket stop'])
# ticket['Ticket start'] = pd.to_datetime(ticket['Ticket stop'])
ticket

,Ticket ID,ATM ID,Ticket start,Ticket stop,Fault,Activity comment
0,2382621.0,1FNANA40,2021-01-01 08:28:00,2021-01-01 14:22:00,ALL CASSETTES FAULTED,FLM
1,2382627.0,1FDBOM268,2021-01-01 08:28:00,2021-01-01 13:26:00,ALL CASSETTES FAULTED,FLM
2,2382628.0,1FNSBK17,2021-01-01 08:28:00,2021-01-01 12:24:00,CARD READER/WRITER FATAL ERROR,FLM
3,2382629.0,1FNGDH07,2021-01-01 08:28:00,2021-01-01 14:22:00,CARD READER/WRITER FATAL ERROR,FLM
4,2382630.0,1FNKOT06,2021-01-01 08:28:00,2021-01-01 12:24:00,CARD READER/WRITER FATAL ERROR,FLM
...,...,...,...,...,...,...
126727,2381890.0,1CRMHMU27,2020-12-31 21:00:00,2020-12-31 21:26:00,DEPOSITORY FATAL ERROR,SLM
126728,2381774.0,1CRRJJP10,2020-12-31 21:17:00,2021-01-01 17:11:00,DEPOSITORY FATAL ERROR,SLM
126729,2381774.0,1CRRJJP10,2020-12-31 21:17:00,2020-12-31 23:59:00,DEPOSITORY FATAL ERROR,SLM
126730,2381890.0,1CRMHMU27,2020-12-31 21:29:00,2021-03-01 15:18:00,DEPOSITORY FATAL ERROR,SLM
126731,2381890.0,1CRMHMU27,2020-12-31 21:29:00,2020-12-31 23:59:00,DEPOSITORY FATAL ERROR,SLM

In [4]:
data = pd.read_csv("full_fault_data.csv")
data.drop("Unnamed: 0",axis =1,inplace=True)
data['Started at'] = pd.to_datetime(data['Started at'])
data['Ended at'] = pd.to_datetime(data['Ended at'])
data

,Terminal ID,Fault,Started at,Ended at,Duration (minutes),Duration (minutes)n
0,1FWBDN25,e5,2020-08-04 15:07:35,2020-08-04 15:15:14,8,8
1,1RDDALD07,e45,2020-08-04 15:07:42,2020-08-04 15:30:30,23,23
2,1RDDAYD01,e63,2020-08-04 15:07:42,2020-08-04 15:15:21,8,8
3,1RDDGKP02,e33,2020-08-04 15:07:49,2020-08-04 16:16:05,69,69
4,1RDDGKP02,e21,2020-08-04 15:07:49,2020-08-04 16:16:05,69,69
...,...,...,...,...,...,...
1834573,1FDKOL181,e3,2021-01-31 23:53:04,2021-02-01 07:53:15,480,480
1834574,1FDKOL192,e4,2021-01-31 23:53:04,2021-02-01 07:53:22,480,480
1834575,1FDPSS09,e3,2021-01-31 23:54:58,2021-02-01 08:42:23,528,528
1834576,1FDPSS09,e61,2021-01-31 23:54:58,2021-02-01 22:41:34,1367,1367
1834577,1FDPSS09,e4,2021-01-31 23:54:58,2021-02-01 07:55:18,481,481

In [5]:
p1 = data["Fault"].unique().tolist()
errors = {p1[i] : "e{}".format(i+1) for i in range(len(p1))}
atm = data["Terminal ID"].unique().tolist()
count_positive = {e : 0 for e in errors.values()} 
count_total = {e : 0 for e in errors.values()}

In [9]:
pd.Series(data["Fault"]).value_counts()

e5     252308
e8     179664
e6     126031
e24     94533
e13     91544
        ...
e87        90
e84        83
e78        79
e85         6
e86         3
Name: Fault, Length: 89, dtype: int64

In [10]:
pd.Series(data["Terminal ID"]).value_counts()

1CRGJKH04     3201
1CRHGJAN04    3012
1FDFZB41      2926
1CRHGJAN01    2795
1CRGJKA01     2663
              ...
1FNBHT16         3
1FDBOM415        3
1CRRJJP13        2
1FDBOM189        2
1FNAHM66         1
Name: Terminal ID, Length: 3974, dtype: int64

In [11]:
pd.Series(ticket["ATM ID"]).value_counts()

1CRRJSK03     233
1CRMHTH33     195
1FDBOM169     176
1CRGJRJ501    164
1FDFZB40      163
             ...
1FDPTP47        1
1FDJDP42        1
1FDBOM275       1
1FDKOL164       1
1DBN18391       1
Name: ATM ID, Length: 4069, dtype: int64

In [6]:
dataset = pd.DataFrame() 
# p1 = Fault_data["Fault"].unique().tolist()
# errors = {p1[i] : "e{}".format(i+1) for i in range(len(p1))}
for name in atm:
    print(atm.index(name))
    sub_data = data[data["Terminal ID"] == name][['Started at', 'Ended at', 'Fault']]
    month_start = sub_data.iloc[0,0].date() #dt.datetime(2020, 8, 1, 0, 0, 0)
    month_start = dt.datetime(month_start.year, month_start.month, month_start.day, 0, 0, 0)
    month_end = dt.datetime(2020, 12, 31, 23, 59, 59)
    x = 2
    m = 10
    y = 10
    shift_days = 3
    mu_len = dt.timedelta(days = m, hours = 0, minutes = 0, seconds = 0)  # length of each measurement unit
    ow_gap = dt.timedelta(days = shift_days, hours = 0, minutes = 0, seconds = 0)  # gap between two successive observation windows
    ow_start = month_start
    pred_point = ow_start + dt.timedelta(days = x*m, hours = 0, minutes = 0, seconds = 0)
    pred_end = pred_point + dt.timedelta(days = y, hours = 0, minutes = 0, seconds = 0)

    error_count = {e : 0 for e in errors.values()}
    rows = []
    target = []

    while(pred_end <= month_end):
        mu_start = ow_start
        mu_end = mu_start + mu_len
        single_row = []
        colnames = []
        
        for mu_no in range(x):
        
            s = sub_data.loc[((sub_data["Started at"] >= mu_start) & (sub_data["Started at"] < mu_end)) | ((sub_data["Started at"] < mu_start) & (sub_data["Ended at"] > mu_start))]
            
            
            
            error_mu = list(s["Fault"])
            for e in error_mu:
                error_count[e] += 1 
            mu_start = mu_end
            mu_end = mu_end + mu_len
            single_row.extend(list(error_count.values()))
            error_count = {e : 0 for e in errors.values()} 
            for e in errors.values():
                colnames.append(e + ".m{}".format(mu_no + 1))
        
        s = sub_data.loc[((sub_data["Started at"] >= ow_start) & (sub_data["Started at"] < pred_point)) | ((sub_data["Started at"] < ow_start) & (sub_data["Ended at"] > ow_start))]
       # s1 = sub_data[sub_data[:,start_index] >= ow_start]
       # s1 = s1[s1[:,start_index] < pred_point]

       # s2 = sub_data[sub_data[:,start_index] < ow_start]
       # s2 = s2[s2[:,end_index] > ow_start]
        
       # s = np.concatenate([s1,s2])
        
        t = ticket.loc[(ticket["ATM ID"] == name) & (ticket["Ticket start"] <= pred_end) & (ticket["Ticket start"] >= mu_start)]
      #  t = t[t["Ticket start"] <= pred_end]
      #  t = t[t["Ticket start"] >= mu_start]
            
        for e in errors.values():
            v = [] 
            dist_from_pred = pd.Series(pred_point - (s[s["Fault"] == e]["Started at"])).apply(lambda x : (x.seconds)/60)
            if dist_from_pred.shape[0] != 0:
                single_row.extend([round(dist_from_pred.min(),2),round(dist_from_pred.max(),2),round(dist_from_pred.mean(),2)])
            #    dist_from_pred = list(dist_from_pred)
                dist_from_pred = list(dist_from_pred.sort_values(ascending = False))
                for i in range(len(dist_from_pred)-1):
                    v.append(dist_from_pred[i] - dist_from_pred[(i+1)])
                if len(v) == 0:
                    single_row.extend([0,0])
                else:
                    single_row.extend([round(np.mean(v),2), round(np.std(v),2)])
            else:
                single_row.extend([0,0,0,0,0])   
                
            colnames.extend(["min(D{})".format(e[1:]),"max(D{})".format(e[1:]),"mean(D{})".format(e[1:]),"mean(V{})".format(e[1:]),"std(V{})".format(e[1:])])
    
            count = s[s["Fault"] == e].shape[0]
            count_total[e] = count_total[e] + count
           # count_total[name][e] = count_total[name][e] + count
            if t.shape[0] > 0:
                count_positive[e] = count_positive[e] + count
              #  count_positive[name][e] = count_positive[name][e] + count
        
        target.append(0 if t.shape[0] == 0 else 1)

        rows.append(single_row)
        
        ow_start = ow_start + ow_gap
        pred_point = ow_start + dt.timedelta(days = x*m, hours = 0, minutes = 0, seconds = 0)
        pred_end = pred_point + dt.timedelta(days = y, hours = 0, minutes = 0, seconds = 0)    
        
    profile = pd.DataFrame([name for i in range(len(rows))], columns = ["ATM ID"])
    df = pd.DataFrame(rows, columns = colnames)
    target_df = pd.DataFrame(target, columns = ["Target"])
    df = pd.concat([profile, df, target_df], axis = 1)
    
    dataset = pd.concat([dataset, df])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186

KeyboardInterrupt:

# main_data

In [3]:
features = pd.read_csv("Features(BAP).csv")
features.drop("Unnamed: 0",axis =1,inplace=True)
features

,ATM ID,e1.m1,e2.m1,e3.m1,e4.m1,e5.m1,e6.m1,e7.m1,e8.m1,e9.m1,...,mean(D21),mean(V21),std(V21),e1,e6,e13,e14,e1e13,e6e14,Target
0,1FWBDN25,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
1,1FWBDN25,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
2,1FWBDN25,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,1
3,1FWBDN25,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,1
4,1FWBDN25,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47010,1CRHKOBL03,0,0,0,0,1,0,0,16,0,...,0.0,0.0,0.0,0,0,0,0,0,0,1
47011,1CRHKOBL03,0,0,0,0,1,0,0,10,0,...,0.0,0.0,0.0,0,0,0,0,0,0,1
47012,1CRHKOBL03,0,0,0,0,2,0,0,16,0,...,0.0,0.0,0.0,0,0,0,0,0,0,1
47013,1CRHKOBL03,0,0,0,0,2,0,0,18,0,...,0.0,0.0,0.0,0,0,0,0,0,0,1
47014,1CRHKOBL03,0,0,0,0,3,0,0,23,0,...,0.0,0.0,0.0,0,0,0,0,0,0,0

In [4]:
features['Target'].value_counts()

1    23582
0    23433
Name: Target, dtype: int64

In [5]:
X = features.drop(columns= ["ATM ID","Target"])
y = features["Target"]

In [6]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=0)
clf = RandomForestClassifier(max_depth=2, random_state=0,n_estimators = 100, oob_score = True)
clf.fit(X, y)
print('training accuracy:',clf.score(X_train, y_train))
print("oob score:",clf.oob_score_)
print('testing accuracy:',clf.score(X_test, y_test))

training accuracy: 0.593375873594652
oob score: 0.5948314367754972
testing accuracy: 0.6040411201701524

In [24]:
print(classification_report(y_test, clf.predict(X_test)))

              precision    recall  f1-score   support

           0       0.59      0.70      0.64      7071
           1       0.63      0.51      0.56      7034

    accuracy                           0.60     14105
   macro avg       0.61      0.60      0.60     14105
weighted avg       0.61      0.60      0.60     14105

In [25]:
from sklearn.linear_model import LogisticRegression

lg = LogisticRegression(random_state=0)
lg.fit(X_train, y_train)
y_pred = lg.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.59      0.68      0.63      7071
           1       0.62      0.53      0.57      7034

    accuracy                           0.60     14105
   macro avg       0.61      0.60      0.60     14105
weighted avg       0.61      0.60      0.60     14105

C:\Users\sankalp\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [31]:
from xgboost import XGBClassifier

xgb = XGBClassifier()
xgb.fit(X_train, y_train)
y_pred = xgb.predict(X_test)
print(classification_report(y_train,xgb.predict(X_train) ))
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.75      0.86      0.80     16362
           1       0.84      0.72      0.77     16548

    accuracy                           0.79     32910
   macro avg       0.80      0.79      0.79     32910
weighted avg       0.80      0.79      0.79     32910

              precision    recall  f1-score   support

           0       0.66      0.75      0.70      7071
           1       0.71      0.62      0.66      7034

    accuracy                           0.68     14105
   macro avg       0.69      0.68      0.68     14105
weighted avg       0.69      0.68      0.68     14105

In [39]:
import operator
d =xgb.get_booster().get_score(importance_type="gain")

imp_features = [i[0] for i in list( sorted(d.items(), key=operator.itemgetter(1),reverse=True))[:60]]

In [8]:
import operator
from xgboost import XGBClassifier


# X1 = X[imp_features]
X1 = X
X_train1, X_test1, y_train1, y_test1 = train_test_split( X1, y, test_size=0.2, random_state=0)
xgb1 = XGBClassifier(max_depth=12,
                        subsample=0.5,
                        objective='binary:logistic',
                        n_estimators=400,
                        learning_rate = 0.1,early_stopping_rounds = 20)
xgb1.fit(X_train1, y_train1)
y_pred1 = xgb1.predict(X_test1)
print(classification_report(y_train1,xgb1.predict(X_train1) ))
print(classification_report(y_test1, y_pred1))

              precision    recall  f1-score   support

           0       0.94      0.97      0.95     18763
           1       0.97      0.94      0.95     18849

    accuracy                           0.95     37612
   macro avg       0.95      0.95      0.95     37612
weighted avg       0.95      0.95      0.95     37612

              precision    recall  f1-score   support

           0       0.74      0.77      0.76      4670
           1       0.77      0.74      0.75      4733

    accuracy                           0.76      9403
   macro avg       0.76      0.76      0.76      9403
weighted avg       0.76      0.76      0.76      9403

In [13]:
d =xgb1.get_booster().get_score(importance_type="gain")

imp_features = [i[0] for i in list( sorted(d.items(), key=operator.itemgetter(1),reverse=True))[:10]]
imp_features

['std(V14)',
 'e5.m2',
 'max(D15)',
 'mean(D20)',
 'max(D14)',
 'max(D2)',
 'mean(V20)',
 'std(V18)',
 'e13.m2',
 'e9.m1']

In [12]:
print(sorted(d.items(), key = 
             lambda kv:(kv[1], kv[0]),reverse=True))

[('std(V14)', 7.06819629375), ('e5.m2', 4.593954853333828), ('max(D15)', 4.25383413), ('mean(D20)', 4.140016393333333), ('max(D14)', 4.070135278605263), ('max(D2)', 4.069317355192148), ('mean(V20)', 4.00410557), ('std(V18)', 3.97173409229042), ('e13.m2', 3.73843193), ('e9.m1', 3.4084474026118285), ('e14.m2', 3.4072929763571436), ('max(D16)', 3.4045650832), ('mean(V18)', 3.305304040100216), ('mean(V14)', 3.2144377436693885), ('mean(V7)', 3.2079873099999996), ('e16.m2', 3.1600563525), ('mean(V6)', 3.1450340798510634), ('e18.m2', 3.1338209855155905), ('min(D16)', 3.131926289666666), ('mean(D6)', 3.064176108718644), ('e14.m1', 3.0339061236058833), ('max(D6)', 3.029872922058822), ('mean(D2)', 2.9559572673419114), ('e15.m1', 2.9534491325), ('std(V5)', 2.9101767897241446), ('max(D5)', 2.7731631564460657), ('min(D15)', 2.7682809836666666), ('e1.m2', 2.7622869145090907), ('mean(D1)', 2.7599612541590903), ('min(D6)', 2.702033719535668), ('e2.m2', 2.6691981779523806), ('min(D14)', 2.642398435970589), ('std(V1)', 2.6421417263076923), ('mean(V2)', 2.5976108062218795), ('max(D18)', 2.589593295816367), ('max(D11)', 2.585225194461241), ('std(V6)', 2.553441831613794), ('min(D18)', 2.5466435724586467), ('mean(D7)', 2.5196227149999997), ('mean(D14)', 2.5096437674301586), ('min(D4)', 2.5094689978000004), ('mean(D18)', 2.474753315441157), ('min(D2)', 2.429798374692768), ('e16.m1', 2.401818435), ('mean(V5)', 2.395423752395925), ('max(D8)', 2.389613055051232), ('mean(V8)', 2.3825284540018603), ('max(D20)', 2.3715254524615386), ('e4.m1', 2.34708552), ('min(D8)', 2.336888827382851), ('min(D11)', 2.3318213276955513), ('max(D1)', 2.294575798225), ('mean(D5)', 2.2933314210003397), ('e7.m1', 2.278523968), ('e6.m1', 2.227918239744186), ('e15.m2', 2.225301265), ('std(V8)', 2.201855811069116), ('mean(D21)', 2.188841579599089), ('max(D19)', 2.173594429172206), ('min(D5)', 2.1543411830036643), ('e1.m1', 2.1404686171473686), ('std(V19)', 2.1172518983917348), ('e6.m2', 2.110046422766667), ('min(D20)', 2.1080429098406257), ('mean(D19)', 2.1036895779339795), ('mean(D8)', 2.103472969939348), ('e2.m1', 2.0990957468395055), ('min(D19)', 2.091554379211223), ('max(D21)', 2.087463295311541), ('mean(D9)', 2.0872527485565207), ('min(D12)', 2.075834215696498), ('mean(V21)', 2.074351426007979), ('e8.m2', 2.0679939949355965), ('std(V21)', 2.0641817606210338), ('max(D12)', 2.064092719462225), ('mean(D10)', 2.027981257343966), ('mean(D12)', 2.0140050885424823), ('mean(V9)', 1.9995342308438582), ('min(D21)', 1.9977898983413145), ('min(D10)', 1.9934954543859718), ('mean(V19)', 1.989330692075011), ('max(D10)', 1.9745357366796377), ('mean(V10)', 1.921847178372657), ('mean(V12)', 1.9199522320880396), ('std(V12)', 1.9189552762463036), ('mean(V11)', 1.8948001884416665), ('min(D3)', 1.8932103897356531), ('e8.m1', 1.883370260828885), ('std(V2)', 1.8770906124585711), ('mean(V3)', 1.8466283881365584), ('e5.m1', 1.844170577074517), ('std(V10)', 1.8176301654330889), ('e4.m2', 1.8169344571538464), ('e3.m2', 1.812017877159167), ('e20.m2', 1.8084574262666666), ('e12.m2', 1.8013181379477072), ('e21.m2', 1.7853800689686015), ('min(D1)', 1.7738312020704543), ('min(D9)', 1.7552054605079417), ('e19.m2', 1.7409100172781768), ('e18.m1', 1.7241433147519025), ('std(V4)', 1.7017881854999999), ('e19.m1', 1.6988921865769389), ('e13.m1', 1.69834971), ('e21.m1', 1.6970310722150548), ('max(D3)', 1.6719096857968254), ('std(V11)', 1.6644375265543432), ('max(D4)', 1.6590441337142856), ('e12.m1', 1.6579542424721605), ('e10.m2', 1.6259414742114071), ('mean(D3)', 1.6129976645775574), ('min(D7)', 1.58237543183), ('e9.m2', 1.5791536756775861), ('e11.m1', 1.5763392992066665), ('e10.m1', 1.5752359764215076), ('std(V9)', 1.558189527355238), ('mean(D11)', 1.5267782608586211), ('mean(V1)', 1.5258001115249993), ('std(V3)', 1.4984545837567573), ('max(D9)', 1.4750005575755316), ('mean(V4)', 1.4417206054999998), ('e7.m2', 1.41760838), ('mean(D4)', 1.3834608495), ('e11.m2', 1.3788466778559498), ('e3.m1', 1.3175952661463417), ('max(D7)', 1.239393381), ('min(D13)', 1.1639061), ('e20.m1', 0.83811605465)]

In [50]:
# from keras.models import Sequential
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

model = Sequential()
model.add(Dense(50, input_dim=60, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(1, activation='relu'))
model.compile(loss='binary_crossentropy', optimizer='SGD', metrics=['accuracy'])
model.fit(X_train1, y_train1, epochs=50, batch_size=5)
_, train_accuracy = model.evaluate(X_train1, y_train1)
_, test_accuracy = model.evaluate(X_test1, y_test1)
print("Training Accuracy:{} Testing accuracy: {}".format(train_accuracy*100,test_accuracy*100))

Epoch 1/50
6582/6582 [==============================] - 13s 2ms/step - loss: 7.5253 - accuracy: 0.5018
Epoch 2/50
6582/6582 [==============================] - 12s 2ms/step - loss: 7.6611 - accuracy: 0.4920
Epoch 3/50
6582/6582 [==============================] - 12s 2ms/step - loss: 7.6433 - accuracy: 0.4932
Epoch 4/50
6582/6582 [==============================] - 12s 2ms/step - loss: 7.6434 - accuracy: 0.4935
Epoch 5/50
3154/6582 [=============>................] - ETA: 6s - loss: 7.5448 - accuracy: 0.4981

KeyboardInterrupt: